
<div ng-controller="ChannelsDataIOCtrl">
  <form>
      <div class="container-fluid col-md-12 col-sm-12 private-dataio" >
        <h3>Export</h3>
        <p>Download all of this Channel's feeds in CSV format.</p>
        <br>
        <div class="row-fluid edit_date">

          <!--<div class="col-sm-3 col-xm-3">-->
            <!--<select  class="form-control ng-pristine ng-valid ng-not-empty ng-touched" >-->
            <!--</select>-->
          <!--</div>-->

          <div class="container-fluid col-sm-1"><label> From</label></div>
          <div class="col-sm-3">

            <div class='input-group date' datetimepicker="form.begin"></div>
          </div>

          <div class="container-fluid col-sm-1" style="padding-left: 10px;" ><label>To</label></div>

          <div class="col-sm-3">
            <div class='input-group date' datetimepicker="form.end"></div>
          </div>

          <a class="btn btn-primary dataio-downbtn" ng-click="download(channel)">Download</a>
        </div>

      </div>
  </form>
</div>



