<div ng-controller="ChannelsDataIOCtrl">
  <div class="container-fluid importexport">
    <div class="row-fluid">
      <form>
        <div class="container-fluid col-md-6 col-sm-6 private-dataio">
          <h3 ng-bind-html="Lang['importexport.Export']"></h3>
          <p ng-bind-html="Lang['importexport.tishi']"></p>
          <br>
          <div class="row-fluid edit_date">
            <div class="container-fluid col-sm-1"><label ng-bind-html="Lang['importexport.From']"> </label></div>
            <div class="col-md-12 col-sm-12">
              <div class='input-group date' datetimepicker="form.begin"></div>
            </div>

            <div class="container-fluid col-sm-1" style="padding-left: 10px;"><label ng-bind-html="Lang['importexport.To']"></label></div>

            <div class="col-md-12 col-sm-12">
              <div class='input-group date' datetimepicker="form.end"></div>
            </div>


            <div class="col-md-12 col-sm-12"><a class="btn btn-primary dataio-downbtn" ng-click="download(channel)" ng-bind-html="Lang['importexport.Download']"></a>
            </div>

          </div>
          <div class="col-md-12 col-sm-12">
            <h2 ng-bind-html="Lang['importexport.Help']"></h2>
            <hr>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.</p>
          </div>
        </div>

        <div class="container-fluid col-md-6 col-sm-6">
          <h3>Data Import</h3>
          <div>
            <div>
              <div class="alert alert-warning">
                File have to follow the following principles:<br>
                <ul>
                  <li>Requires a file in CSV format.</li>
                  <li>Maximum number of rows 5000.</li>
                  <li>Maximum file size: 10MB.</li>
                </ul>
              </div>

              <div class="btn btn-default"
                   ngf-select
                   ng-model="uploadFile" name="uploadFile" ngf-pattern="'text/*'" ngf-accept="'text/csv,text/txt'"
                   ngf-max-size="maxSize" ngf-resize="resize"
              ><span  ng-bind-html="'Click to choose csv file'"></span></div>

              <span ng-if="!uploadFile"><label class="text-muted" ng-bind-html="'No file selected'"></label></span>

              <div ng-if="uploadFile">
                <span ng-bind-html="'File:'"></span>
                <label class="text-muted" ng-bind-html="uploadFile.name"></label>

                <span ng-bind-html="'Size:'"></span>
                <label class="text-muted" ng-bind-html="uploadFile.size | bytes"></label>

                <span ng-show="!uploading">
                  <a href=""  ng-click="upload(uploadFile, importForm)">
                    <span class="glyphicon glyphicon-open"></span>
                    <span>Start Import</span>
                  </a>
                </span>
              </div>

            </div>

            <div ng-show="uploading">
              <span ng-bind-html="'Uploading: '"></span>{{percentage}}%
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>



