<div class="main">
  <!--表格内容start-->
  <div class="table-content">

    <form class="search form-search ">
      <select class="select-style">
        <option value="">ALL</option>
        <option value=""></option>
      </select>
      <input type="text" class="input-style" placeholder="Search here...">
      <button type="submit" class="btn btn-search">Search</button>
    </form>

    <div class="page-header">
      <h1 style="display: inline">My Channels</h1>

      <a class="btn btn-default btn-new" href="#/channels/new">New Channel</a>
      <h5 class="usedspace-style">Total Used Space:2MB</h5>
    </div>

    <div class="border-table table-list">
      <table class="table table-bordered table-striped table-condensed myTable" width="100%" border="0" cellpadding="0" cellspacing="0"  st-safe-src="channels" st-table="displayCollection">
        <thead class="tblHeader">
        <tr>
          <th st-sort="name" class="th-left">name</th>
          <th st-sort="created_at">last updata</th>
          <th>public or private</th>
          <th st-sort="usage">used space</th>
          <th>created</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="channel in displayCollection">
          <td class="td-left">
            <a ng-href="#/channels/{{channel.channel_id}}/private">{{channel.name}}</a><br/>
            <a ng-href="#/channels/{{channel.channel_id}}/private"><button class="btn btn-default btn-xs"><img src="./images/icoimage/privete.png">Privete</button></a>
            <a ng-href="#/channels/{{channel.channel_id}}/realtime"><button class="btn btn-default btn-xs"><img src="./images/icoimage/charts.png">Charts</button></a>
            <a ng-href="#/channels/{{channel.channel_id}}/settings"><button class="btn btn-default btn-xs"><img src="./images/icoimage/settings.png">Settings</button></a>
            <a ng-href="#/channels/{{channel.channel_id}}/apikeys"><button class="btn btn-default btn-xs"><img src="./images/icoimage/apikey.png">API key</button></a>
            <a ng-href="#/channels/{{channel.channel_id}}/dataio"><button class="btn btn-default btn-xs"><img src="./images/icoimage/data.png">Data import/Export</button></a>
          </td>
          <td></td>
          <td><a href=""><img src="./images/icoimage/privete-ico.png">public</a></td>
          <td>{{channel.usage | bytes}}</td>
          <td><a href="">{{channel.created_at}}</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div class="paging-style" st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
          </td>
        </tr>
        </tfoot>
      </table>



    </div>

  </div>
  <!--表格内容END-->

</div>
