<div class="main">
  <!--表格内容start-->
  <div class="table-content">
    <div class="list-header">
    <form class="search form-search ">
      <select class="select-style">
        <option value="">ALL</option>
      </select>
      <input type="text" class="input-style" placeholder="Search here..." ng-model="searchText">
      <button type="submit" class="btn btn-search hidden-xs">Search</button>
      <a class="btn btn-default btn-new  " href="#/channels/new">New Channel</a>
      <a class="btn btn-default" href="" ng-click="shareChannels(getCheckedItems(channels))">Share To...</a>
      <h5 class="usedspace-style hidden-sm hidden-xs " ><a class=" hidden-sm hidden-xs" style="color: #0c0c0c;margin-right: 5px">Total Used Space: </a>{{getAccountUsage() | bytes}}</h5>
    </form>
      </div>
    <div class="border-table table-list table-responsive">
      <table class="table table-bordered table-striped table-condensed myTable" width="100%" border="0" cellpadding="0" cellspacing="0"  st-safe-src="channelsFiltered" st-table="displayCollection">
        <thead class="tblHeader">
        <tr>
          <th style="width:40px;"></th>
          <th st-sort="name" class="th-left"><i class="fa fa-sort"></i><span style="margin-left: 10px;">Name</span></th>
          <th><i class="fa fa-sort" style="margin-right: 10px"></i><span>Public or Private</span></th>
          <th st-sort="created_at"><i class="fa fa-sort" style="margin-right: 10px"></i><span>Last Update</span></th>
          <th st-sort="usage" ><i class="fa fa-sort" style="margin-right: 10px"></i><span>Used Space</span></th>
          <th><span>Device</span></th>
          <th><span>Created</span></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="channel in displayCollection">
          <!--<td><input type="checkbox" ng-model="channel.selected" name="form.selected[]" value="{{channel.channel_id}}"></td>-->
          <td st-row-check="channel" st-row-check-attr="checkedFlag"></td>
          <td class="td-left">
            <div style="float: left;width: 170px">
              <img src="./images/icoimage/channel_img.png" style="float: left">
            <!--<div ng-hide="channel.name==''||channel.name=='null'||channel.name==null">-->
            <a class="channel-name" ng-href="#/channels/{{channel.channel_id}}/private">{{channel.name}}</a><br/>

            <!--<div ng-show="channel.name==''||channel.name=='null'||channel.name==null">-->
              <a class="channel-name" ng-href="#/channels/{{channel.channel_id}}/private">ChannelID:{{channel.channel_id}}</a><br/>
            </div>
            <div class="channel_ctr">
            <a ng-href="#/channels/{{channel.channel_id}}/private"><button class="btn btn-default btn-sm">Privete</button></a>
            <a ng-href="#/channels/{{channel.channel_id}}/realtime"><button class="btn btn-default btn-sm">Charts</button></a>
            <a ng-href="#/channels/{{channel.channel_id}}/settings"><button class="btn btn-default btn-sm">Settings</button></a>
            <a ng-href="#/channels/{{channel.channel_id}}/apikeys"><button class="btn btn-default btn-sm">API key</button></a>
            <a ng-href="#/channels/{{channel.channel_id}}/dataio"><button class="btn btn-default btn-sm">Data import/Export</button></a>
            </div>
          </td>
          <td><a href=""><i class="fa fa-group" ng-show="channel.public_flag=='true'"></i> <i class="fa fa-lock" ng-show="channel.public_flag=='false'"></i>{{channel.public_flag=='true'? ' Public': 'Private'}}</a></td>
          <td>{{channel.last_entry_date}}(<span am-time-ago="channel.last_entry_date"></span>)</td>
          <td>{{channel.usage | bytes}}</td>
          <td>
            <span ng-if="channel.device_id==null">No Device</span>
            <span ng-if="channel.device_id!=null"><img src="../images/icoimage/duduico2.png"></span>
          </td>
          <td><a href="">{{channel.created_at}}</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div class="paging-style" st-pagination="" st-items-by-page="10"></div>
          </td>
        </tr>
        </tfoot>
      </table>



    </div>

  </div>
  <!--表格内容END-->

</div>
