<div class="container-fluid" ng-controller="ChannelsPrivateCtrl">

  <div class="col-md-12">
    <div class="col-md-12 col-sm-12" style="margin: 0px 10px">
      <div class="row data-graph">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand" href="">Data Charts</a>
            <button class="btn btn-primary btn-add" ng-click="openModalAddPoint()" style="margin-top:10px;background-color: #04CC24; border-color: #04CC24;">Add a Data Point</button>
          </div>
          <div class="nav-table-data">
            <ul class="nav navbar-nav">
              <table>
                <td><label>From</label></td>
                <td>
                  <div class='input-group date' datetimepicker="query.begin"></div>
                </td>
                <td><label>Scale</label></td>
                <td><select class="form-control" ng-options="item.label for item in durations"
                            ng-model="query.duration"></select></td>
                <td>
                  <button class="btn btn-primary" ng-click="download(channel)">Download</button>
                </td>
                <td>
                  <button class="btn btn-default" ng-click="reloadData(channel)" ng-disabled="loading">
                    Refresh
                    <i class="fa fa-refresh" ng-show="loading" ng-class="{'fa-spin': loading}"></i>
                  </button>
                </td>
              </table>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="col-md-12" ng-repeat="(key,val) in channelsFields" ng-if="val.text">

      <div render-channel-chart="channelsFeeds[key]"
           render-channel-chart-color="{{pickColor($index)}}"
           render-channel-chart-api="chartsApi[$index]"
           render-channel-chart-title="{{val.text}}">
      </div>
    </div>
  </div>

</div>


</div>



