
<div class="container-fluid" ng-controller="ChannelsPrivateCtrl">

<div class="col-md-4 col-sm-12">

  <table>
    <tr>
      <td>Channel Status</td><td><button class="btn btn-default">Add a Data Point</button></td>
    </tr>
    <tr>
      <td>Created</td><td><span am-time-ago="channel.created_at"></span></td>
    </tr>
    <tr>
      <td>Updated</td><td><span am-time-ago="channel.updated_at"></td>
    </tr>
    <tr>
      <td>Used Space</td><td>{{channel.usage | bytes}}</td>
    </tr>
    <tr>
      <td>Last Entry Date</td><td>{{channel.last_entry_date}}</td>
    </tr>
    <tr>
      <td>Last Entry ID</td><td>{{channel.last_entry_id}}</td>
    </tr>
  </table>
</div>


<div class="col-md-8 col-sm-12">

  <div class="row">
    <label>Data Charts</label>
    <button class="btn btn-primary pull-right">Download</button>
  </div>

  <div>
    <div class="form-group">
      <div class="col-sm-1 col-md-1">
        <label>From</label>
      </div>
      <div class="col-sm-5 col-md-4">
        <div class='input-group date' datetimepicker="query.begin"></div>
      </div>
      <div class="col-sm-1 col-md-1">
        <label>Length</label>
      </div>
      <div class="col-sm-5 col-md-4">
        <select class="form-control" ng-options="item.label for item in durations" ng-model="query.duration"></select>
      </div>
      <div class="col-sm-6 col-md-2">
        <button class="btn btn-default">Refresh</button>
      </div>
      <div class="col-sm-6 col-md-12 text-right">
        <span>
          Live Data: <button class="btn btn-default">Off</button>
        </span>
      </div>
    </div>
  </div>

  <p>Exactly like the original bootstrap tabs except you should use
    the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
  A wonderful serenity has taken possession of my entire soul,
  like these sweet mornings of spring which I enjoy with my whole heart.
  I am alone, and feel the charm of existence in this spot,
  which was created for the bliss of souls like mine. I am so happy,
  my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
  that I neglect my talents. I should be incapable of drawing a single stroke
  at the present moment; and yet I feel that I never was a greater artist than now.

</div>


</div>



