<div class="public-view-style" style="border: 1px solid #EEEEEE; padding: 15px" ng-controller="ChannelsPublicCtrl">
  <div ng-if="shares.length">
    <h3>This channel is being shared to:</h3>

    <table class="table table-bordered">
      <tr ng-repeat="item in shares">
        <td><img src="{{item.avatar}}" style="max-width: 40px;max-height: 40px" class="img-rounded">{{item.username}}</td><td><a ng-click="deleteShare(item)"><span class="fa fa-remove"></span></a></td>
      </tr>
    </table>
  </div>

  <div ng-if="!shares.length">
    <h3>This channel is not being shared to any one.</h3>
  </div>
</div>

