<div class="container-fluid realtime" ng-controller="ChannelsRealtimeCtrl">

  <div class="col-md-12 col-sm-12">
    <div class="col-md-12">
      <div class="row" style="border-bottom: 1px solid #E9E9E9;">
        <div class="col-sm-12 col-md-12 text-right">
          <form class="form-inline">
        <span>
         <span  ng-bind-html="Lang['realtime.Frequency']"></span>
          <select class="form-control" ng-options="item.label for item in frequencies" ng-model="liveFreq"></select>
        </span>
        <span >
          <span ng-bind-html="Lang['realtime.LiveData']"></span>
          <button class="btn btn-primary" ng-class="{'btn-danger' : !liveData, 'btn-success': liveData}"
                  ng-click="toggleLiveData()">{{liveData ? 'On' : 'Off'}}
          </button>
        </span>
          </form>
        </div>
      </div>
      <div class="col-md-12" ng-repeat="(key,val) in channelsFields" ng-if="val.text">
        <div style="height:240px;" render-channel-chart="channelsFeeds[key]"
             render-channel-chart-scale="chartScale"
             render-channel-chart-color="{{pickColor($index)}}"
             render-channel-chart-api="chartsApi[$index]"
             render-channel-chart-title="{{val.text}}">
        </div>
      </div>
    </div>
  </div>
</div>



