<div class="container-fluid" ng-controller="ChannelsRulesCtrl">
  <div class="row realtime" style="border-bottom: 10px solid #E9E9E9;">
    <div class="col-md-6" style="padding-left: 10px">
      <table class="table table-striped ">
        <thead>
        <tr>
          <td><label style="height: 28px">Channel View</label></td>
        </tr>
        </thead>
        <tr>
          <td><img class="table-ico" src="../images/icoimage/id.png">Channel ID:</td>
          <td style="text-align: right"><span ng-class="{hidden:!channel}">{{channel.channel_id}}</span></td>
        </tr>
        <tr>
          <td><img class="table-ico" src="../images/icoimage/author.png">Author:</td>
          <td style="text-align: right"><span ng-class="{hidden:!channel}">{{channel.username}}</span></td>
        </tr>
        <tr>
          <td><img class="table-ico" src="../images/icoimage/access.png">Access:</td>
          <td style="text-align: right"><span ng-class="{hidden:!channel}">{{channel.public_flag==='true' ? 'public' : 'private'}}</span>
          </td>
        </tr>
        <tr>
          <td><img class="table-ico" src="../images/icoimage/tags.png">Tags:</td>
          <td style="text-align: right"><span ng-class="{hidden:!channel}">{{channel.tags}}</span></td>
        </tr>
      </table>
    </div>

    <div class="col-md-6 ">
      <div class="table-data-info" style="margin-left: 10px">
        <table class="table table-striped ">
          <thead>
          <tr>
            <td colspan="2" style="height: 50px"><label>Channel Status</label></td>
          </tr>
          </thead>
          <tr>
            <td>Created</td>
            <td style="text-align: right"><span am-time-ago="channel.created_at"></span></td>
          </tr>
          <tr>
            <td>Updated</td>
            <td style="text-align: right"><span am-time-ago="channel.updated_at"></span></td>
          </tr>
          <tr>
            <td>Used Space</td>
            <td style="text-align: right">{{channel.usage | bytes}}</td>
          </tr>
          <tr>
            <td>Last Entry Date</td>
            <td style="text-align: right">{{channel.last_entry_date}} (<span
              am-time-ago="channel.last_entry_date"></span>)
            </td>
          </tr>
          <tr>
            <td>Last Entry ID</td>
            <td style="text-align: right">{{channel.last_entry_id}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="nav-data" style="margin-bottom: 20px">
    <ul class="nav nav-tabs">
      <li ng-repeat="tab in tabs" ng-class="{active: routeParams.subview==tab.key}">
        <a ng-href="#/channels/{{routeParams.id}}/{{tab.key}}">{{tab.text}}</a>
      </li>
    </ul>
  </div>

  <div class="container-fluid private-rule" style="margin-left: 10px">


    <div class="row-fluid rules-main">
      <div class="col-md-6 table-responsive">
        <h2>Rules</h2>
        <hr>
        <div class="col-md-12 new_chanel">
          <a href="javascript:void(0)" class="btn btn-default " data-toggle="modal" data-target="#myModal">New
            Rules</a>
          <a href="javascript:void(0)" class="btn btn-warning rule-del">Delete All</a>
        </div>
        <br>

        <table style="margin-top: 28px;" class="table table-bordered">
          <thead class="tb2Header">
          <tr>
            <th>Name</th>
            <th>Field</th>
            <th>Criteria</th>
            <th>Condition</th>
            <th>Created</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr class="">
            <td><h4>
              <a href="javascript:void(0)" class="">
                <i class="fa fa-check-square"></i>
                Rule16
              </a>
            </h4>

              <div class="btn-group btn-group-sm hidden-xs hidden-sm hidden-md btns">
                <a href="javascript:void(0)" class="btn btn-default">Edit</a>
              </div>
            </td>
            <td class="">field1</td>
            <td class="">contains</td>
            <td class="">1</td>
            <td class="">1970-1-18</td>
            <td style="text-align:ceneter"><a href="javascript:void(0)" class="btn btn-warning">Delete</a></td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="col-md-6">
        <h2>Help</h2>
        <hr>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.</p>

      </div>

    </div>


    <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="container-fluid modal-dialog modal-lg">
        <div class="modal-content container-fluid">
          <form>
            <div class="modal-header">
              <button type="button" class="close"
                      data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>

            <div class="row modal-add-rules">

              <div class="col-md-8 ">
                <h2>New Rules</h2>
                <hr/>

                <div>
                  <label class="col-sm-3 col-md-3 col-xs-3">Rules Name</label>
                  <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched">
                </div>

                <div>
                  <label class="col-sm-3 col-md-3 col-xs-3">Fields</label>
                  <select class="form-control ng-pristine ng-valid ng-not-empty ng-touched"></option></option></select>
                </div>

                <div>
                  <label class="col-sm-3 col-md-3 col-xs-3">Action</label>
                  <select class="form-control ng-pristine ng-valid ng-not-empty ng-touched"></option></option></select>
                </div>

                <div>
                  <label class="col-sm-3 col-md-3 col-xs-3">Condition Type</label>
                  <select class="form-control ng-pristine ng-valid ng-not-empty ng-touched"></option></option></select>
                </div>

                <div>
                  <label class="col-sm-3 col-md-3 col-xs-3">Condition</label>
                  <select class="form-control ng-pristine ng-valid ng-not-empty ng-touched"></option></option></select>
                </div>

                <div>
                  <label class="col-sm-3 col-md-3 col-xs-3"></label>
                  <input type="text" class="form-control ng-pristine ng-valid ng-not-empty ng-touched">
                </div>

              </div>
              <div class="col-md-4">
                <h2>Help</h2>
                <hr>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged.</p>

              </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default"
                      data-dismiss="modal">closed
              </button>
              <button type="button" class="btn btn-primary">
                Save Rules
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>

