<div class="row realtime" style="border-bottom: 10px solid #E9E9E9;">
  <div class="col-md-6" style="padding-left: 10px">
    <table class="table table-striped ">
      <thead>
      <tr>
        <td><label style="height: 28px">Channel View</label></td>
      </tr>
      </thead>
      <tr>
        <td><img class="table-ico" src="../images/icoimage/id.png">Channel ID:</td>
        <td style="text-align: right"><span ng-class="{hidden:!channel}">{{channel.channel_id}}</span></td>
      </tr>
      <tr>
        <td><img class="table-ico" src="../images/icoimage/author.png">Author:</td>
        <td style="text-align: right"><span ng-class="{hidden:!channel}">{{channel.username}}</span></td>
      </tr>
      <tr>
        <td><img class="table-ico" src="../images/icoimage/access.png">Access:</td>
        <td style="text-align: right"><span ng-class="{hidden:!channel}">{{channel.public_flag==='true' ? 'public' : 'private'}}</span>
        </td>
      </tr>
      <tr>
        <td><img class="table-ico" src="../images/icoimage/tags.png">Tags:</td>
        <td style="text-align: right"><span ng-class="{hidden:!channel}">{{channel.tags}}</span></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6 ">
    <div class="table-data-info" style="margin-left: 10px">
      <table class="table table-striped ">
        <thead>
        <tr>
          <td colspan="2" style="height: 50px"><label>Channel Status</label></td>
        </tr>
        </thead>
        <tr>
          <td>Created</td>
          <td style="text-align: right"><span am-time-ago="channel.created_at"></span></td>
        </tr>
        <tr>
          <td>Updated</td>
          <td style="text-align: right"><span am-time-ago="channel.updated_at"></span></td>
        </tr>
        <tr>
          <td>Used Space</td>
          <td style="text-align: right">{{channel.usage | bytes}}</td>
        </tr>
        <tr>
          <td>Last Entry Date</td>
          <td style="text-align: right">{{channel.last_entry_date}} (<span
            am-time-ago="channel.last_entry_date"></span>)
          </td>
        </tr>
        <tr>
          <td>Last Entry ID</td>
          <td style="text-align: right">{{channel.last_entry_id}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="nav-data" style="margin-bottom: 20px">
  <ul class="nav nav-tabs">
    <li ng-repeat="tab in tabs" ng-class="{active: routeParams.subview==tab.key}">
      <a ng-href="#/channels/{{routeParams.id}}/{{tab.key}}">{{tab.text}}</a>
    </li>
  </ul>
</div>
<div class="row channel-main-setting">
  <div class="col-md-6 " style="padding-left: 10px;">
    <h2>Settings</h2>
    <hr>
    <div ng-controller="ChannelsSettingsCtrl">
      <div ng-if="form">
        <table style="width: 100%;">
          <tr><td><label>Name</label></td></tr>
          <tr>
            <td><input ng-model="form.name" class="form-control"></td>
          </tr>
          <tr><td><label>Description</label></td></tr>
          <tr>
            <td><textarea ng-model="form.description" class="form-control"></textarea></td>
          </tr>


          <tr ng-repeat="fidx in [1,2,3,4,5,6,7,8] track by $index">
            <td style="display: inline"><label>Feild:</label> {{fidx}}:</td>
            <td style="display: inline">
              <input ng-model="$parent.form['field'+fidx]" ng-disabled="!$parent.form['field'+fidx+'-enabled']"
                     class="form-control" placeholder="Fill in field name...">
              <input style="float: right" type="checkbox" ng-model="$parent.form['field'+fidx+'-enabled']"
                     ng-init="$parent.form['field'+fidx+'-enabled']=!!$parent.form['field'+fidx]">
            </td>
          </tr>

          <tr> <td><label>Metadata:</label></td></tr>
          <tr>
            <td><textarea ng-model="form.metadata" class="form-control"></textarea></td>
          </tr>

          <tr><td><label>Tags:</label></td></tr>
          <tr>
            <td><input ng-model="form.tags" class="form-control"></td>
          </tr>

          <tr> <td><label>latitude:</label></td></tr>
          <tr>

            <td><input ng-model="form.latitude" class="form-control"></td>
          </tr>

          <tr><td><label>longitude:</label></td></tr>
          <tr>
            <td><input ng-model="form.longitude" class="form-control"></td>
          </tr>

          <tr><td><label>elevation:</label></td></tr>
          <tr>
            <td><input ng-model="form.elevation" type="number" class="form-control"></td>
          </tr>

          <tr> <td><label>make public</label><input style="float: right" ng-model="form.public_flag" type="checkbox"></td>

          </tr>


          <tr> <td><label>url:</label></td></tr>
          <tr>
            <td><input ng-model="form.url" class="form-control"></td>
          </tr>

          <tr>  <td><label>videoId:</label></td></tr>
          <tr>
            <td>
              <input ng-model="form.videoId" class="form-control">

              <label>
                <input ng-model="form.video_type" type="radio" value="youtube">
                YouTube
              </label>

              <label>
                <input ng-model="form.video_type" type="radio" value="vimeo">
                Vimeo
              </label>
            </td>
          </tr>
        </table>

        <div style="margin-bottom: 10px;">
          <button class="btn btn btn-success save-btn" ng-click="saveChannel(form)">Save Channel</button>
          <button class="btn btn btn-warning save-btn" ng-click="clearFeed(form)">Clear Feed</button>
          <button class="btn btn btn-danger save-btn" ng-click="deleteChannel(form)">Delete Channel</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-6">
    <h2>Help</h2>
    <hr/>
    <div>
      <h4>ThinkSpeak Channal</h4>
      <p>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since</p>
      <p> the1500s,when an unknown printer took a galley of type and scrambled it to</p>
      <p> make a type specimen book.It has survived not only five centuries, but also</p>
      <p> the leap into electronic typesetting, remaining essentially unchanged.</p>
      <h4>Channal Settings</h4>
      <p>
        <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
        <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
        <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
        <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
        <i class="fa fa-circle-o"></i> Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
        <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>

      <h4>Using the Channal</h4>
      <p>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <p> Lorem Ipsum has been the industry's standard dummy text ever since the</p>
      <p> 1500s, when an unknown printer took a galley of type and scrambled it to</p>
      <p> make a type specimen book. It has survived not only five centuries, but also </p>
      <p> the leap into electronic typesetting, remaining essentially unchanged.

      </p>

    </div>


  </div>
</div>


