<div class="row channel-main-setting" ng-controller="ChannelsTriggersCtrl">
  <div class="col-md-12" style="padding-left: 10px;">
    <h2>Triggers</h2>
    <p class="text-muted">This list shows {{mc.tableState.pagination.number}}
      items per page. Columns 'Finished At' and 'Created At' are both sortable.</p>
    <hr>
    <div ng-if="!!channel">
      <table class="table" st-pipe="mc.callServer" st-table="mc.displayed">
        <thead>
        <tr>
          <th class="text-nowrap">Trigger ID</th>
          <th class="text-nowrap">Field</th>
          <th class="text-nowrap">Log</th>
          <th class="text-nowrap">Status</th>
          <th class="text-nowrap" st-sort="created_at" st-skip-natural="true">Created At</th>
          <th class="text-nowrap" st-sort="finished_at" st-skip-natural="true">Finished At</th>
        </tr>
        </thead>
        <tbody ng-show="!mc.isLoading">
        <tr ng-repeat="row in mc.displayed">
          <td style="width:100px;">{{row.trigger_id}}</td>
          <td style="width:100px;">{{row.field}}</td>
          <td style="max-width:200px;word-break: break-all;">{{row.log}}</td>
          <td style="width:100px;">{{row.status}}</td>
          <td style="width:180px;">{{row.created_at}}</td>
          <td style="width:180px;">{{row.finished_at}}</td><!-- | date:'yyyy-MM-dd HH:mm:ss' -->
        </tr>
        <tr ng-if="!mc.displayed.length">
          <td colspan="6" class="text-left">
            <p class="">No Data</p>
          </td>
        </tr>
        </tbody>
        <tbody ng-show="mc.isLoading">
        <tr>
          <td colspan="6" class="text-left">
            <p class="">Loading ... </p>
          </td>
        </tr>
        <tfoot>
        <tr>
          <td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="6">
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>


