<div class="row channel-main-setting" ng-controller="ChannelsTriggersCtrl">
  <div class="col-md-12 triggers" style="padding-left: 10px;">

    <div ng-if="!!channel" >
      <div class="table-responsive">
      <table class="table " st-pipe="mc.callServer" st-table="mc.displayed">
        <thead style="background-color: #0277BD;color: #ffffff">
        <tr>
          <th class="text-nowrap" ng-bind-html="Lang['triggers.TriggerID']"></th>
          <th class="text-nowrap" ng-bind-html="Lang['triggers.Field']"></th>
          <th class="text-nowrap" ng-bind-html="Lang['triggers.Log']"></th>
          <th class="text-nowrap" ng-bind-html="Lang['triggers.Status']"></th>
          <th class="text-nowrap" st-sort="created_at" st-skip-natural="true" ng-bind-html="Lang['triggers.CreatedAt']"></th>
          <th class="text-nowrap" st-sort="finished_at" st-skip-natural="true" ng-bind-html="Lang['triggers.FinishedAt']"></th>
        </tr>
        </thead>
        <tbody ng-show="!mc.isLoading">
        <tr ng-repeat="row in mc.displayed">
          <td style="width:100px;">{{row.trigger_id}}</td>
          <td style="width:100px;">{{row.field}}</td>
          <td style="max-width:200px;word-break: break-all;">{{row.log}}</td>
          <td style="width:100px;">{{row.status}}</td>
          <td style="width:180px;">{{row.created_at}}</td>
          <td style="width:180px;">{{row.finished_at}}</td><!-- | date:'yyyy-MM-dd HH:mm:ss' -->
        </tr>
        <tr ng-if="!mc.displayed.length">
          <td colspan="6" class="text-left">
            <p  ng-bind-html="Lang['triggers.NoData']"></p>
          </td>
        </tr>
        </tbody>
        <tbody ng-show="mc.isLoading">
        <tr>
          <td colspan="6" class="text-left">
            <p class="" ng-bind-html="Lang['triggers.Loading']">  </p>
          </td>
        </tr>
        <tfoot>
        <tr>
          <td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="6">
          </td>
        </tr>

        </tfoot>

      </table>
       </div>
      <span style="color: #3783C2" ng-bind-html="Lang['triggers.triggers']"></span>
      <hr/>
      <p class="text-muted"><span  ng-bind-html="Lang['triggers.reminder']"></span> {{mc.tableState.pagination.number}}
        <span  ng-bind-html="Lang['triggers.reminder2']"></span></p>
    </div>
  </div>
</div>


