body{font-family: "'Source Sans Pro', sans-serif";
  font-size: 14px;
  }

@media (max-width: 992px) {
  .nav-top span {
    display: none;
  }
}

input,select,textarea:focus {outline: none;}
.navbar{
  background-color:#22262E;
}
.main-header{
  background-color:#000000;}
.main-header{
  background-color:#30353E;
}
.main-header a{
  color:#5B616E;
}
.main-header a:hover{
  color: #ffffff;
}
.main-sidebar{
  background-color:#1B1E24;

}

/*.sidebar-left .default-color a{*/
/*color: #FFFFFF;*/
  /*visibility:visible;*/
  /*background-color:#3BB878;*/
/*}*/

.language{
  background-color:#2F3541;
  border: 1px solid #505868;
  color: #ffffff;
}
.nav-top{float:right;}

.nav-top ul li {
  display:inline-block;
}

.border-right a {
  border-left: 1px #FFFFFF solid;
  padding-right: 15px;
}
.nav-top li{
  line-height:51px;
  padding-right: 15px;
  color: #656C7A;
}

.pull-left{
  color: #ffffff;
}

.user-panel >.image > img {
  height: auto;
  max-width: 85px;
  width: 100%;
}
.user-info{
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-align:center;
  text-overflow: ellipsis;
  top: 1px;
  vertical-align: bottom;
 margin-left: 10px;
}
.user-info a{
  color:#ffffff;
}
.sidebar-menu a{
  color:#8B91A0;
}

.sidebar-menu li a{
  background-color:#1B1E24;
}


.sidebar-menu li a:hover {
  color:#ffffff;
  background-color:#3BB878;
}
.sidebar-left li.active >a{
  color: #FFFFFF;
  background-color:#3BB878;
}
/*鼠标点击之后的颜色*/
.treeview-menu li{
  padding-left: 0px;

}
.treeview-menu li a{
  margin-top: 1px;
  border-bottom: 1px solid #31351b;
  background:#262A31;

}
.treeview-menu i{
  margin-left: 15px;
  padding-right:15px;
}
.sidebar-menu .treeview-menu{
  line-height:34px;
  padding-left: 0px;
}
/*table content-style*/
.main{
  z-index: 800;
  min-height:760px;

}
.table-content{
  padding: 0px 35px 15px;
}
.border-table table tr td{
  vertical-align: middle;
}
.btn-search{
  width: 10%;
  height: 36px;
  color: #ffffff;
  background-color:#3BB878 ;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}


.tblHeader{
  color: white;
  background-color:#3BB878;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}
/*分页样式部分*/
.pagination{
  float: right;

}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #fff;
  background-color: #3BB878;
}
/* border-color: #337ab7; */
table.myTable .td-left, table.myTable .th-left {
  text-align: left;

}
table.myTable td, table.myTable th{
  text-align: center;
}
table.myTable button{
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
.myTable{
  float: left;
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 30px;
}
table.myTable td img, table.myTable th img{
  padding-right:5px;
}
table.myTable td a,table.myTable th a{
  color: #000;
}
table.myTable td,table.myTable th{height:55px;
}
.input-style{
  padding-left: 20px;
  border-radius: 50px;
  border: solid 1px #C0C0C0;
  width: 30%;
  height:36px;
}
.select-style{
  padding-left: 10px;
  border-radius: 50px;
  border: solid 1px #C0C0C0;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png")no-repeat scroll right center transparent;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;

  height:36px;
  width:7%;
}
.usedspace-style{
  float: right;
  padding-right: 30px;
}
.page-header{
  margin: 18px 18px 0px 20px;
}
.pagination{
  margin-right: 10px;
}


.btn-new {

  background: #3bb878 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  float: right;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}
.btn-new:hover{
  background-color:#3BB878;
}
.nav-top span a{
  margin-left:5px;
}
.navbar-customs-menu .nav > li > a {
  padding:20px 0px 0px 0px ;
}
.navbar-customs-menu .navbar-nav i{
  margin-right: 10px;
 vertical-align: middle;
}
.navbar-customs-menu .nav > li > a:hover,.navbar-customs-menu .nav > li > a:active, .nav > li > a:focus {
  color: #444;
  background:#22262E;
}

/*create-table-style*/

.channel-main{
  margin-left: 40px;
}
.channel-main td, .channel-main-setting td{
  padding-top: 10px;
}
 .channel-main td .form-control{
   width: 94%;
   border: 2px solid #BCBCBC;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
 }
.channel-main-setting .channel-form-setting input,.channel-main-setting .channel-form-setting textarea{
  border: 2px solid #BCBCBC;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.save-btn{

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;;
}

/*login -style*/
.login-top-right{
float: right;
  display:inline-block;;
  line-height: 51px;
}
.login-top-right li{
  display: inline;
}
.login-page .login-box{
  margin-top: 100px;
}
.login-top-right li{
  margin-right: 20px;

}
@media (max-width: 780px) {
  .navbar-header{
    text-align:center;
  }
}
.navbar-fixed-bottom {
  text-align: center;
}
.navbar-fixed-bottom span{
  font-size: 20px;
  color: #FFFFFF;
  line-height: 50px;
}
.navbar-custom-menu .open > a, .open > a:hover, .nav .open > a:focus{
  background-color: #0c0c0c;
}


.navbar-custom-menu .user-header{
  background-color: #3BB878;
}
.navbar-custom-menu span{
  color:#ffffff;
}
.navbar-custom-menu li a:hover {
  background-color:#3BB878;
}


/*表格内容数据界面样式*/
.table-data{
  margin: 10px 10px;
}
.table-data table{
  width: 50%;
}
.table-data .table-data-info table{
  width:100%;

}
.table-data i{
  margin-right: 10px;

}
.table-data .nav-tabs-custom > .nav-tabs > li:hover {

  border-top-color: #3c8dbc;

}
.table-data .nav-tabs-custom > .nav-tabs > li a:hover{
  background-color:#DBDBDB;

}

.table-data .nav-tabs-custom > .nav-tabs > li:hover{
  border-top-color: #3BB878;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color:#3BB878 ;
}

.table-data .table-data-info  .btn-add{

  background-color:#3BB878;
 border-radius: 5px;
}
.table-data .table-data-info  .btn-add:hover{
  background-color: #22A05F;
}


/*table-apikey-style*/

/*表格内容数据界面样式END*/
