body {
  background-color: #E9E9E9;
  /*font-family: 'robotoCondensed-light','华文楷体';*/
}

@font-face {
  font-family: 'robotoCondensed-light','华文楷体';
  src: url('fonts/RobotoCondensed-Light.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1140px) {
  .rules-main .col-md-6 {
    width: 100%;
  }
}
@media (min-width:992px) {
  .main-devices .device_mg_div{padding-left: 150px;}


}

@media (max-width: 1386px) {
  .table-rules{width: 100%;}
}

@media (max-width:1205px ) {
  .nav-tabs > li {

    margin-bottom: 5px;
  }

}


@media (max-width: 991px){
  .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    min-width: 100px;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid #ddd;
    background: #0169B0;
  }
}



@media (max-width: 992px) {
  .navbar-custom-menu li span {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-custom-menu {
    margin-top: 15px;
  }
}

/*@media (min-width: 768px){*/
/*.navbar-nav > li > a {*/
/*padding-top:0px;*/
/*padding-bottom: 0px;*/
/*}*/

/*}*/

/* for smart table */
.st-sort-ascent:before {
  content: '\25B2';
}
.st-sort-descent:before {
  content: '\25BC';
}

/* 将下列css迁移至main.css */
[ng-cloak] {
  display: none;
}
.form-control {transition:none;}/*移除form-control的动画效果避免跳动*/

input, select, textarea:focus {
  outline: none;
}

.main-header {
  background-color:#0277BD;
}

.main-header a {
  color: #ffffff;
}

/*.main-header .sidebar-toggle:hover {*/
  /*color: #025F98;*/
/*}*/

.main-sidebar {
  background-color: #0277BD;

}

.navbar .mychannel {
  float: left;
  line-height: 51px;
  font-size: 20px;

}

.rule-del {
  float: right;
}

.rules-main {
  padding: 5px;
}
.rules-main table tbody tr td{vertical-align: middle}
.nav-top {
  float: right;
}

.fa-mobile-phone {
  font-size: 26px;
}

.fa-life-ring {
  font-size: 20px;
}

.fa-info {
  font-size: 30px;
}

.fa-group {
  color: #0277BD;
  margin-right: 5px;
}
.fa-lock{
  color: #0277BD;
  margin-right: 5px;
  font-size: 18px;
}
.fa-folder-open,.fa-cloud-download{
  margin-right: 2px;
  float: left;
  color: #0277BC;
}
.channel-main-setting{padding: 15px;}
.channel-main-setting .fa-circle-o {
  color: #0074BB;
  margin-right: 10px;
}

.nav-top ul li {
  display: inline-block;
}

.channel-create {
  margin: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}

.nav-top li {
  line-height: 51px;
  padding-right: 15px;
  color: #656C7A;
}

.navbar-nav > .user-menu .user-image {
  float: none;
}

.navbar-custom-menu .nav > li > a {
  padding: 0px 5px;
}

.user-panel > .image > img {
  height: auto;
  max-width: 85px;
  width: 100%;
}

.user-panel {
  background: url("../images/bg.jpg");

}

.user-info {
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-overflow: ellipsis;
  top: 1px;
  vertical-align: bottom;
}
.user-info .info{margin-top: 0;margin-bottom: 0;}
.user-info a {
  color: #ffffff;
}

.sidebar-menu a {
  color: #FFFFFF;
}

.sidebar-left a {
  height: 61px;
}

.sidebar-menu > li > a {
  padding: 19px 5px 12px 15px;
  display: block;
}

.treeview-menu li a {
  height: 42px;
}

.sidebar-menu li a {
  border-bottom: 1px solid #000000;
}

.sidebar-menu li a:hover {
  color: #ffffff;
  background-color: #0277BD;
}

.sidebar-left li a {
  color: #FFFFFF;
  background-color: #0277BD;
}

.sidebar-left li.active > a {
  color: #FFFFFF;
  background-color: #025F98;
}

/*鼠标点击之后的颜色*/

.treeview-menu li {
  padding-left: 0px;

}

.treeview-menu li a {
  margin-top: 1px;
  border-bottom: 1px solid #31351b;
  background: #025F98;

}

.treeview-menu i {
  margin-left: 15px;
  padding-right: 15px;
}

.sidebar-menu .treeview-menu {
  line-height: 35px;
  padding-left: 0px;
}

.table-ico {
  margin-right: 10px;
}

.input-group {
  width: 220px;
}

.btn-default:hover, .btn-default:active, .btn-default.hover {
  background-color: #0277BD;
}

.btn-default:hover, .btn-default:active, .btn-default {
  background-color: #0277BD;
  color: #FFFFFF;
}

.tblHeader span {
  line-height: 40px;
}

/*table content-style*/
.main {
  z-index: 800;
  min-height: 760px;

}

.footer {
  position: absolute;
  margin-bottom: 0px;
  background-color: #025F98;
  color: #FFFFFF;
  height: 70px;
  width: 100%;
}

.footer p {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}

.table-content .table-list table {
  margin: 0px 5px;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.table-content .table-list table tbody {
   background-color: #FFFFFF;
 }
.table-content .table-list table tbody td {
  position: relative;
}

.table-content .table-list table tfoot {
  background-color: #FFFFFF;
}

.border-table table tr td {
  vertical-align: middle;
}

.btn-search {

  height: 44px;
  color: #ffffff;
  background-color: #0277BD;
}
.table-content table tbody td .dataDisplay{
  color: #ffffff;
  padding-left: 3px;
  font-size: 0.8em;
  position: absolute;
  /*z-index: 9999;*/
}

/*分页样式部分*/
.pagination {
  float: left;

}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #fff;
  background-color: #04CC24;
}

/* border-color: #337ab7; */
table.myTable .td-left, table.myTable .th-left {
  text-align: left;
  padding-left: 10px;

}

table.myTable td, table.myTable th {
  text-align: center;
}

table.myTable button {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.myTable {
  float: left;
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 30px;
}

/*table.myTable td img, table.myTable th img {*/
  /*padding-right: 5px;*/
/*}*/

table.myTable td a, table.myTable th a {
  color: #000;
}

table.myTable td, table.myTable th {
  height: 55px;
}

.input-style {
  background-color: #F6F6F6;
  padding-left: 20px;
  border-radius: 2px;
  border: solid 1px #C0C0C0;
  width: 36%;
  height: 44px;
}

.select-style {

  border-radius: 2px;
  padding-left: 10px;
  border: solid 1px #C0C0C0;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center #F6F6F6;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
  height: 44px;
  width: 16%;
}

.search input {
  text-indent: 10px;
  background: url(../images/icoimage/search.png) no-repeat;
  background-position: 10px 10px;
  padding: 0 10px 0 32px;
}

.list-header {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFFFFF;

}

.usedspace-style {
  float: right;
  padding-right: 10px;
}

@media (max-width: 1186px) {
  .space{display: none;}
}

.pagination {
  margin-left: 10px;
}

.pagination > li > a, .pagination > li > span {
  margin-left: 3px;
}

.btn-new {
  background-color: #04CC24;
  line-height: 28px;
  border: medium none;
  color: #fff;
  float: right;
  height: 44px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}

.btn-sm {
  background-color: #FFFFFF;
  color: #444;
  border-color: #686E7C;
}

.btn-new:hover {
  background-color: #04C621;
}

.nav-top span a {
  margin-left: 5px;
}

.navbar-customs-menu .nav > li > a {
  padding: 20px 0px 0px 0px;
}

.navbar-customs-menu .navbar-nav i {
  margin-right: 10px;
  vertical-align: middle;
}

.navbar-nav li a {
  line-height: 51px;
}

.navbar-customs-menu .nav > li > a:hover, .navbar-customs-menu .nav > li > a:active, .nav > li > a:focus {
  color: #444;
  background: #22262E;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #D1D1D1;
}

/*create-table-style*/

.channel-main {
  margin-left: 40px;
}

.channel-main td, .channel-main-setting td {
  padding-top: 10px;
}

.channel-main td .form-control {
  width: 94%;
  border: 2px solid #BCBCBC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


/*login -style*/
.login-top-right {
  float: right;
  display: inline-block;;
  line-height: 51px;
}

.login-top-right li {
  display: inline;
}

@media (max-width: 780px) {
  .navbar-header {
    text-align: center;
  }
}
.headerLogo{
  margin-left: 20px;
  padding-top: 5px;
}
.main-header .logo{padding-left: 5px;}
@media (min-width:768px) and (max-width:877px){
  .navbar-header .logoLong{display:none; }
}

@media (min-width:877px) {
  .navbar-header .logoShort{display:none; }
}
@media (max-width:768px) {
  .navbar-header .logoShort{display:none; }
}


.navbar-custom-menu .user-header {
  background-color: #025F98;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{margin-left: 0}
/*.navbar-custom-menu li a:hover {*/
  /*background-color: #F5F5F5;*/
/*}*/

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #F5F5F5;
}

/*表格内容数据界面样式*/
.table-data {
  margin: 10px 10px;
}

.table-data .table-data-info
.table-data i {
  margin-right: 10px;

}

.table-data table i {
  margin-right: 10px;
}

.table-data .table-data-info .btn-add {
  border: 0px;
  background-color: #04CC24;
  border-radius: 2px;
}

.table-data .table-data-info .btn-add:hover {
  background-color: #04C621;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
  color: #FFFFFF;
  background: #0277BD;
}

.content {
  min-height: 250px;
  padding: 1px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.nav-data >li >a {
  border-right: 2px solid #000000;
  border-left:  2px solid  #000000;
}


.nav-pills > li > a {
  background-color: #FFFFFF;
  border-radius: 1px;
  border-top: 1px solid #C9C9C9;

}

.nav-table-data {
  float: right;
  line-height: 52px;
}

.nav-table-data label, button {
  /*margin-right: 5px;*/
  margin-left: 5px;
}

.private-rule {
  background-color: #FFFFFF;
}
@media (max-width: 768px) {
   .data_warehouse{margin-top: 60px;}
}

.public-view-style {
  background-color: #FFFFFF;
  padding-left: 5px;
}

/*table-apikey-style*/
.table-apikey-style .container {

  margin-left: 0px;
}

.table-apikey-style textarea {
  border-radius: 5px;
  border: 1px solid #C0C0C0;
  width:100%;
}

.table-apikey-style .btn-warning {
  margin-top: 20px;
  margin-bottom: 5px;

}

.table-commands-style {
  padding-bottom: 15px;
}

.table-commands-style table > thead {
  color: #FFFFFF;
  background-color:#337AB7;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 0px;
}

.data-graph nav {
  margin-bottom: 1px;
}


/*表格内容数据界面样式END*/

/*account-main*/
.account-main {
  background-color: #FFFFFF;
  margin: 10px;
}
@media (max-width: 768px) {
    .account-main{margin-top: 60px;}
}

.myaccount {
  margin-right: 40px;
}

.signup-outer {

  height: 800px;
  padding: 135px 60px;
  background: #fff;
  box-shadow: 0 1px 7px 2px rgba(135, 158, 171, 0.1);
  margin: 10px auto;
}

.signup-outer label {
  margin-right: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-outer form div.row {
  margin-bottom: 10px;
}

/*!*.signup-outer {*!*/
/*!*width: 100% !important;*!*/
/*}*/

.signup-outer, .login-outer {
  /*width: 440px;*/
  /*height: auto;*/
  /*padding: 35px 40px;*/
  background: #fff;
  box-shadow: 0 1px 7px 2px rgba(135, 158, 171, 0.1);
}

/*账户安全页面样式开始*/

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
   margin-left: 0;
}
.fa-asterisk{color: red;margin-right: 2px;font-size: 1px}

.safety-setting {margin: 10px;}
@media (max-width: 768px) {
  .safety-setting{margin-top: 56px;}
}

@media (max-width: 992px) {
  .level{margin-right: 0;}
  .login-time{margin-right: 0;}
  .safety-left{margin-bottom: 15px;padding-right: 0;}
}
.safety-setting .level{vertical-align: middle;padding: 60px 30px;background-color: #ffffff; }
.level strong{font-size: 20px;}
.level p{font-size: 15px;color: red;margin-top: 20px;}
.safety-setting .safety-content{background-color: #ffffff;}
.safety-setting .login-time{vertical-align: middle;padding: 60px 30px;background-color: #ffffff;margin-top:15px;}
.safety-setting .safety-content{padding: 60px 30px;}
/*.safety-content .safety-div{padding: auto 30px; border: 1px solid #dfdfdf;min-height: 118px; vertical-align: middle;}*/
/*.safety-div .safefault{width:36%;max-width:32px;height:auto;}*/
/*.safety-div .login-pass{margin-left:5px}*/
.safety-content .safety-table tr{height: 118px;}

.safety-content .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid #dcdcdc;
}
.safety-table .safefault{margin-right: 10px}
.safety-table tbody .safety-btn a{color: #ffffff;}
.safety-table tbody p{margin-bottom: 0;}
.safety-content table .text-le{min-width: 110px;}
.safety-table tbody .confirm-btn a{color: #ffffff;}
.safety-table tbody .confirm-btn{margin-top: 15px;}
.safety-table .phone{border-radius: 3px;width: 45%;height: 36px;text-align: center;border: 1px solid #CCCCCC; }
.safety-modal{font-size: 18px;margin-left: 10px;}
.safety-modal-head{color: #ffffff; background-color: #0277bd}
.safety-modal-content{margin-top: 40%;min-height: 210px;}
.safety-modal-con{width: 420px}
.safety-grade{border-radius: 100px;}
.safety-input{margin-bottom: 10px;max-width: 210px;min-width: 210px;}
.s_center {
  margin-bottom: 10px;
  max-width: 210px;
  min-width: 210px;
  width: auto;
  padding: 0 22%;

}
.s_center option{
  text-align: center;
}
@media (min-width: 1200px) {
  .s_center{ padding:0;}
}
/*账户安全页面样式结束*/

/*费用中心*/
/*账户查询*/
.accountinquiry{background-color: #ffffff;padding-top: 73px;padding-left: 10px;height: 800px;padding-right: 30px;}
.accountinquiry button{border-radius: 60px;}
.accountinquiry_header{margin-left: 10px;margin-top: 18px;}
.accountinquiry_header table thead tr td select{width: 100px;text-align: center}
.accountinquiry_header table thead tr td label{width: 80px;text-align: center}
.accountinquiry_body{margin-left: 10px;margin-top: 18px}
.accountinquiry_body thead{background-color:#F5F5F5;margin-right: 15px}


  /*账户查询*/

/*充值页面*/
.payment{background-color: #ffffff;padding-top: 70px;padding-left: 30px;height: 800px;padding-right: 30px;margin: 10px;}

@media (max-width: 768px) {
  .payment{margin-top: 60px}
}
.payment .payment-way{height:91px;max-width: 751px;min-width: 310px; border: 2px solid #0068b7;margin-top: 15px;padding-top: 10px;padding-bottom: 10px; }
.ali-we{margin-top: 10px;margin-bottom: 10px;margin-left: 31px;}
.payment .pay-money{margin-top: 14px;margin-bottom:10px;}
.payment .pay-money input{border-radius:3px;height: 37px;margin-left: 10px;margin-right: 10px;background-color: #f6f6f6 }
.radio, .checkbox {margin-top:0;margin-left: 17px;}
.checkbox-disabled{font-size: 8px;margin-left: 5px}

.warm-prompt{background-color:#f6f6f6;height:auto;max-width:751px;min-width: 523px; border: 1px solid #dcdddd;padding-left: 30px;padding-top: 10px;padding-bottom: 10px;}
.warm-prompt ul {list-style: none;padding-left: 0;}
.warm-prompt p{margin-bottom: 0;}
.top-up{margin-top: 18px;}
.top-up span{color: red;margin-left:13px;height: 100px;font-size: 5px}
.we-modal-header{background-color: #0277bd;}
.we-modal-header .modal-title{color: #ffffff;font-size: 20px;}
.we-modal-header .overdue{color: #ffffff;margin-left: 10px;}
.we-modal-header .overdue .time{color: #f3eb1a;}
.we-modal-header .pay-close{color: #ffffff;font-size: 30px;z-index: 9999;}
.wepay-body{padding:36px}
.wepay-body span{padding-right:10px}
.wepay-body p .pay-other{font-size: 8px;}
.wepay-body p .pay-other, .ScanCode{padding-right: 115px}
@media (min-width: 768px){
  .payment.modal-dialog {
    width: 400px;
    margin: 30px auto;
  }
}
.pay-warn span{color: #0068b7;padding-top: 3px;}
.pay-warn p{margin-left: 50px;margin-top: 10px;}

.continue-pay{border:1px solid #e6e6e6;padding: 10px 18px;}
.continue-pay span{margin-right: 20px;}
.encounter-problem{border:2px solid #0b65b6;padding: 10px ;margin-top: 10px;}

.encounter-problem p{color: #0068b7}

@media (min-width: 768px){
  .ModalWeChatPay .modal-dialog{
    width: 521px;
    margin: 30px auto;
  }

}
.InfoPay button{margin-left: 0;}


/*充值页面*/


  /*费用中心*/

/*消息中心*/
.messages-center{background-color: #ffffff;padding-top: 177px;padding-left: 10px;height: 800px;padding-right: 30px;}
.messages-center .message-header{background-color: #F5F5F5}
/*消息中心*/





/*设备管理开始*/
.main-devices{background-color: #ffffff;}
.devices_header {
  background-color: #FFFFFF;
  padding: 20px 61px;
}
.devices_header .device_develop{margin-right: 30px;color:#0168B3;}
.devices_header .btn-search{margin-left: 25px;}
@media (max-width: 768px) {
  .devices_header{margin-top: 50px;}
}
.main-devices .devices_header{border-bottom:2px solid  #F6F6F6;}
.devices_sort{ background-color: #FFFFFF;  padding: 20px 61px;}
.devices_sort span{margin-right: 10px;}
.devices_sort span a{color: #000000;}
.devices_sort span a:hover{color: #0168B3;}
.devices_sort span i{margin-right: 5px;}
/*.devices_sor a:hover, a:active, a:focus{color: #0277BD;}*/
.devices_sor a{color:#000000 ;}
.devices_body{padding: 5px 61px;}
.devices_div{background-color: #F5F5F5;width: 100%;height:auto;}
.devices_div p{margin: 0 0  2px 0;}
.devices_del{margin-left: 54px;margin-top: 5px}
.device_ico{float:left;margin-right: 5px;margin-top:20px;margin-bottom: 20px;padding-left: 10px;padding-right: 10px;}

@media (max-width: 563px) {
  .device_ico{display: none;}
}
.devices_div .create span{color:#828181;font-size: 12px;}
@media (max-width: 768px) {
  .text-left{float: right;}

}
/*设备管理结束*/

/*.device_mg {*/
  /*margin-top: 20px;*/
  /*padding: 10px;*/
/*}*/

.tb2Header {
  background-color: #025F98;
  color: #fff;
}

.main-header .navbar .nav > li > a > .label {
  position: static;
  top: 11px !important;
  right: 1px !important;

}

.products-div {
  padding-top: 10px;
  color: #000000;
  height: 150px;
  margin: 10px;
  vertical-align: middle;
  /*line-height: 150px;*/
  text-align: center;
  background-color: #EEEEEE;
}

/*.products-div:hover {*/
  /*background-color: #025F98;*/
  /*color: #FFFFFF;*/
/*}*/
.devices_con{margin-left: 20px;}

.main-devices .device_mg_div button{border-radius: 50px;}
@media (max-width: 768px) {
  .devices_con{margin-top: 65px;}
}

@media (max-width: 768px) {
  .productdetails{margin-top: 65px;}
}
.device_form {
  width: 100%;
  background: #FFFFFF;
  padding: 5px;
  margin: 20px 0 40px 0;
  display: inline-block;
}

.device_form .form-group {
  display: inline-block;
  width: 100%;
}

.form-group label {
  line-height: 38px;
}

.device_inner .pt7 {
  padding: 5px
}

.device_form .btn-new {
  float: none;
}

.serial_txt {
  margin-bottom: 20px;
}

.device_form .input-group-addon {
  background: #fff !important;
}

.input-group button {
  border: 0;
  background: transparent;
}

.input-group input {
  border-right: none;
}

.modal-add-rules {
  margin-left: 5px;
}
.table-rules{padding-left: 12px}
.modal-add-rules {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-add-rules .form-control {
  width: 60%;
  display: inline;
  margin-top: 5px;
  margin-left: 20px;
}

label {
  margin-bottom: 0 !important;

}

.modal-add-rules label {
  line-height: 43px;
}

.private-dataio {
  background-color: #FFFFFF;
  padding-left: 15px;
  padding-bottom: 5px;

}

.private-dataio .input-group {
  width: 100%;
}

.private-dataio .dataio-downbtn {
  margin-top: 5px;
}

.private-dataio label {
  line-height: 36px;
  text-align: center;
}

.modal-attach {
  margin-left: 5px;
}

.modal-attach {
  padding-left: 10px;
  padding-right: 10px;
}

.modal-attach .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #337AB7;
  color: #FFFFFF;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border: 0;
}
.modal-attach .tab-bg {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.13);
  background: #fff;
}

/*.row {*/
/*margin-right: 0px;*/
/*margin-left:0px;*/
/*}*/
.private-tab {
  padding-left: 74px;
  margin: 40px 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.modal-attach .btn_add {
  height: 38px;
  line-height: 27px;
  min-width: 128px !important;
}

.channel-create .form-inline .form-control {
  width: 100%;
}

.table-list table tr .channel-name {
  margin-left: 10px;
  padding-bottom: 10px;
}

.table-list table tr a button {
  margin-top: 8px;
}

.user-panel h4, .h4, h5, .h5, h6, .h6 {

  margin-bottom: 5px;
}

.user-menu p {
  margin: 0 0 1px;
}

.nav-tabs-custom .row {
  margin-left: -10px;
}

.AddDataPoint .modal-body {
  padding: 25px;
}

.AddDataPoint .row {
  margin-bottom: 5px;
}

.table-content .table > thead > tr > th {
  vertical-align: middle;
}

.nav-tabs-custom > .tab-content {
  padding: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #FFFFFF;
  cursor: default;
  background-color:#016CAD;
  /*border: 2px solid #0277BD;*/
  border-bottom-color: transparent;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 2px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs li a{
  padding-left: 25px;
  padding-right:25px;
  border: 1px solid;
  border-top:  #0277BD;
  border-bottom: #FFFFFF;

}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  border-color: #FFFFFF;
}
.navbar-custom-menu p{margin: 0;}

.nav-tabs-custom {
  margin-bottom: 0;}
.nav-data a{background-color: #4C98EC;color: #FFFFFF}
.data-header .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  padding: 4px;
  vertical-align: middle;
}
.data-header table{margin-bottom: 0;}
.table-data-info table tbody tr td{padding:8px ;vertical-align: middle;}
/*.table-data-info table{margin-bottom: 10px;}*/

.duduhttp_table table.myTable td a, table.myTable th a{color: #000000;}
.channel-create .channel-form table tr{margin: 4px 0;}
.channel-create button a {color: #FFFFFF}
/*login style start*/
.login-top-image h2{margin-top: 10px;padding-left: 50px;}

.login-select{height: 33px;
  border-radius: 3px}
/*login style end*/
/*区分资金流动上升or减少*/
.down{color: red;}
.rise strong{color: green;padding-left: 11px}
/*区分资金流动上升or减少*/


/*我的社区页面开始*/
.mycommunity{background-color: #ffffff;width: 100%; height:auto; padding-left:10px;padding-right: 10px;padding-top: 19px;}
@media (min-width: 1200px) {
  .mycommunity{padding-left: 60px;}

}
@media (max-width: 992px) and (min-width: 768px){
  .mycommunity{padding-left: 10px;}
}
@media (max-width: 768px) {
  .mycommunity{padding-left: 10px;}
}

@media (max-width: 768px) {
  .community_body{margin-left: 10px;}
  .community_right{margin-left: 10px}
}

@media (min-width: 992px) and (max-width: 1200px) {
  .community_body{margin-left: 45px;}
  .community_right{margin-left: 45px}
}
@media (min-width: 768px) and (max-width: 992px) {
  .community_body{margin-left: 30px;}
  .community_right{margin-left: 30px}
}
@media (min-width: 992px) and (max-width: 1200px) {
  .community_body{margin-right: 45px;}
}
.mycommunity_header{margin-bottom: 18px;}
.mycommunity_header .device_star{margin-right: 10px;color:#0168B3;}
.mycommunity_header .btn-search{margin-left: 15px;}
@media (max-width: 768px) {
  .mycommunity_header{margin-top: 50px;}
}
.mycommunity_header a{color:#000000;}
.mycommunity_header a:hover{color:#0277bd;}
.mycommunity_header .popularity{border-left:1px solid #828181;padding-left: 8px;padding-right: 8px;margin-left: 8px}
.mycommunity_header .popularity i{margin-left:5px;margin-right: 10px;}
.mycommunity_header .time{border-left:1px solid #828181;margin-right: 10px; padding-left: 8px;padding-right: 8px}
.mycommunity_header .time i{margin-left:5px;margin-right: 10px;}
/*.community_div{float: left;margin-bottom: 43px; min-width: 199px}*/
.community_div{float: left;margin-bottom: 43px; padding-right: 0;}
.community_div .community_div_img{width: 100%;height: auto;}
.mycommunity .community_div{border: 4px solid #c9c9c9;margin-right:8%;}
/*max-width: 199px;*/
.community_div_info{padding-left: 10px;padding-top: 12px;}
.community_div span{margin-left:6px;}
.mycommunity .hot_tags_title{margin-bottom: 27px;font-size: 18px;color:#0277bd;}
.mycommunity .hot_tags button { color: #ffffff; background-color: #0277bd;margin-right: 3px;margin-bottom:3px; border-radius: 4px;border: 0;}
.mycommunity .hot_tags button a{font-size: 10px; color: #ffffff;}
.find_dev_title{margin-bottom: 27px;margin-top:30px;font-size: 18px;color:#0277bd;}
.find_dev img{float: left}
.find_dev .title{color: #000000; margin-left: 13px;font-size: 15px;vertical-align:top;}
.find_dev .name{color: #000000; margin-left: 13px;font-size: 8px;vertical-align:top;line-height: 5px}
.find_dev_body{margin-bottom: 28px;}
.start_user_div{margin-bottom: 18px;}
.star_user_title{color:#0277bd;margin-bottom: 18px;}
@media (max-width: 1200px) {
  .find_dev_title{margin-top: 10px;}

}
.start_user_div .star{float: left;}
.start_user_div span .img_sort{vertical-align:top;}
.start_user_div span .name{color: #000000; margin-left:3px;font-size: 15px;vertical-align:top;}
.start_user_div span .tags{font-size: 10px;margin-left: 3px;color: #000000;}

/*我的社区页面结束*/

/*我的关注页面开始*/
.myattention{background-color: #ffffff;width: 100%; height:auto; padding-left:30px;padding-right: 33px;padding-top: 19px;}
@media (max-width: 768px) {
  .myattention{padding-right: 13px;}

}

@media (max-width: 768px) {
  .myattention{padding-left: 10px;}
}
.myattention_header{margin-bottom: 18px;}
.myattention_header .device_star{margin-right: 10px;color:#0168B3;}
.myattention_header .btn-search{margin-left: 15px;}
@media (max-width: 768px) {
  .myattention_header{margin-top: 50px;}
}
.myattention_header a{color:#000000;}
.myattention_header a:hover{color:#0277bd;}
.myattention_header .popularity{border-left:1px solid #828181;padding-left: 8px;padding-right: 8px;margin-left: 8px}
.myattention_header .popularity i{margin-left:5px;margin-right: 10px;}
.myattention_header .time{border-left:1px solid #828181;margin-right: 10px; padding-left: 8px;padding-right: 8px}
.myattention_header .time i{margin-left:5px;margin-right: 10px;}

.myattention .hot_tags_title{margin-bottom: 27px;font-size: 18px;color:#0277bd;}
.myattention .hot_tags button { color: #ffffff; background-color: #0277bd;margin-right: 3px;margin-bottom:3px; border-radius: 4px;border: 0;}
.myattention .hot_tags button a{font-size: 10px; color: #ffffff;}


.attention_div{float: left;margin-bottom: 43px; padding-right: 0;}
.attention_div .attention_div_img{width: 100%;height: auto;}
.myattention .attention_div{border: 8px solid #ffffff;}
.attentionDivBorder{border:1px solid #C0C0C0 }


.attention_div_info{padding-left: 10px;padding-top: 12px;}
.attention_div span{margin-left:6px;}

@media (min-width: 1200px) {
  .input-style{width:30%}
}
@media (max-width: 910px) and (min-width: 767px){
  .input-style{max-width: 150px}

}
/*我的关注页面结束*/


/*热门标签页面开始*/
.hot-tags{background-color: #ffffff;width: 100%; height:auto; padding-left:60px;padding-right: 60px;padding-top: 19px; height: 889px;}
@media (max-width: 768px) {
  .hot-tags{padding: 0 10px 0 10px;}
  .tags-row-user p{ padding-right: 5px}


}
.hot-tags-header{margin-bottom: 18px;}
.hot-tags-header .keyword{margin-right: 30px;color:#0168B3;}
.hot-tags-header .hot-tag{color:#0168B3;margin-right: 13px;}
.hot-tags-header .btn-search{margin-left: 15px;}
@media (max-width: 768px) {
  .hot-tags-header{margin-top: 50px;}
}

.hottags-tags {min-width: 574px; }
.hottags-tags span a{margin-right:15px;}
.hottags-tags span a:hover{background-color:#0068b7;color: #ffffff; }
.input-header{min-width: 574px;margin-bottom: 9px;}
.hot-tags-header a{color:#000000;}
.hot-tags-header a:hover{color:#0277bd;}
.hot-tags-header .popularity{border-left:1px solid #828181;padding-left: 8px;padding-right: 8px;margin-left: 8px}
.hot-tags-header .popularity i{margin-left:5px;margin-right: 10px;}
.hot-tags-header .time{border-left:1px solid #828181;margin-right: 10px; padding-left: 8px;padding-right: 8px}
.hot-tags-header .time i{margin-left:5px;margin-right: 10px;}
.hot-tag-sort{margin-left: 65px;margin-top: 13px}


.input-tags {
  background-color: #F6F6F6;
  padding-left: 20px;
  border-radius: 2px;
  border: solid 1px #C0C0C0;
  width: 36%;
  height: 44px;
}

@media (min-width: 1200px) {
  .input-tags{width: 65%}
}
@media (max-width: 992px) {
  .input-tags{max-width: 150px}

}
.tags-row .tags-row-title{font-size: 18px;color: #0277bd}
.hot-tags-body{padding:13px 0 13px 0;border-bottom: 1px solid #cfcfcf;border-top:1px solid #cfcfcf; }
.tags-row p{margin-bottom: 0;}
.tags-row p img{margin-right: 7px;}
.hot-tags-body .tags-row-user{float: right;}
.tags-row-user p{margin-bottom: 0;text-align: center;min-width: 108px;}
.tags-row-user{padding-left: 0;}
/*热门标签页面结束*/

/*社区明星页面开始*/
.community-star{background-color: #ffffff;width: 100%; height:auto; padding-left:60px;padding-right: 60px;padding-top: 19px;}

@media (max-width: 768px) {
  .community-star{padding: 0 10px 0 10px;}
  .community-star-header{padding-top: 56px;}
}
.community-star .community-star-ico{float: left;margin-right: 14px;}
.community-star-info{min-width: 230px;margin-bottom: 14px;}
.community-star-info p{margin-bottom: 0;font-size: 14px;}

.input-community-star {
  background-color: #F6F6F6;
  padding-left: 20px;
  border-radius: 2px;
  border: solid 1px #C0C0C0;
  width: 70%;
  height: 44px;
}
.community-star-sort{margin-top: 5px;margin-bottom: 17px;}
.community-star-sort a{color:#000000;}
.community-star-sort a:hover{color:#0277bd;}
.community-star-sort .popularity{border-left:1px solid #828181;padding-left: 8px;padding-right: 8px;margin-left: 8px}
.community-star-sort .popularity i{margin-left:5px;margin-right: 10px;}
.community-star-sort .time{border-left:1px solid #828181;margin-right: 10px; padding-left: 8px;padding-right: 8px}
.community-star-sort .time i{margin-left:5px;margin-right: 10px;}

.star-user-body{padding: 5px 10px;}
.star-user-device{padding:11px 15px;background-color: #f5f5f5}
.star-device-ico{float:left;margin-right: 5px;margin-top:20px;margin-bottom: 20px;padding-left: 10px;padding-right: 10px; max-height:100px;max-width:100px;}
.star-user-device .user-device-info p{margin-bottom: 0;}
.star-user-device .user-device-info p img{margin-right: 7px;}
.user-device-info .title{font-size: 14px;}
.user-device-info .addition {float: right;}
.user-device-info .addition i{margin-right: 5px;}
.user-device-info .addition .share{padding-right: 5px;border-right:1px solid #c9c9c9;margin-right: 5px; }
@media (max-width: 563px) {
  .star-device-ico{display: none;}
}
/*社区明星页面结束*/


/*社区设备开始*/
.community-device{background-color: #ffffff;width: 100%; height:auto; padding-left:65px;padding-right: 35px;padding-top: 19px;}

@media (max-width: 768px) {
  .community-device{padding: 0 10px 0 10px;}
  .community-device-header{padding-top: 56px;}
}
.community-device-header .deviceico{margin-right: 18px;}
.community-device-header .community-device-ico{border-right: 1px solid #c9c9c9;padding-right: 27px;float: left;margin-right: 28px;}

@media (max-width: 992px) {
  .community-device-header .community-device-ico{padding-right:5px;margin-right: 5px;}

}
.community-device-header .community-device-info{border-right: 1px solid #c9c9c9;padding-right: 27px;margin-right: 27px;float:left;}
.community-device-tags {float: left;}
.community-device-tags p{margin-bottom: 0;}

@media (max-width: 992px) {
  .community-device-header .community-device-info{padding-right: 5px;margin-right: 5px;}

}
.community-device-info p{margin-bottom: 0;}
.community-device-header .share-aim{float: right;min-width: 125px;}
.share-aim i{margin-right: 5px;}
.share-aim .share{padding-right: 5px;border-right:1px solid #c9c9c9;margin-right: 5px;}
.comment .comment-portrait{float: left;margin-right: 16px;}
.publish .comment-portrait{float: left;margin-right: 16px;}
.publish .reply a{float: left;margin-left: 15px;}
.reply {vertical-align:bottom;}
.publish p{margin-bottom: 0;font-size: 12px}
.community-device-body .comment, .publish{margin-bottom: 20px;}
/*社区设备结束*/
.progress {

  background-color: #CCCCCC;
}
