<div class="container-fluid safety-setting">
  <div class="col-md-3 safety-left">
    <div class="row-fluid col-md-12 level text-center">
      <h4><strong>安全等级</strong></h4>
      <!--<img src="../images/icoimage/grade.png" width="80%">-->
      <div class="progress progress-striped active safety-grade" >
        <div class="progress-bar progress-bar-success " role="progressbar"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
             style="width: 20%;">
          <span class="sr-only">40% 完成</span>
        </div>


          <div class="progress-bar progress-bar-danger" role="progressbar"
               aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
               style="width: 80%;">
            <span class="sr-only">10% 完成（危险）</span>
          </div>
      </div>
      <p>您的安全等级有点低，请尽快完善。</p>
    </div>

    <div class="row-fluid col-md-12 login-time text-center">
      <img src="../images/icoimage/logintime.png" width="80%">
      <p>上次登录网站时间：2016.08.26 16:24:01</p>
    </div>
  </div>


  <div class="row-fluid col-md-9 safety-content table-responsive">
    <table class="table safety-table">

      <tbody>
      <tr>
        <td class="text-le"><img src="../images/icoimage/safetyfault.png" class="safefault"><span class="login-pass">登录密码</span>
        </td>
        <td>
          <p class="text-center" style="color: red;margin-bottom: 9px;">互联网账户存在被盗风险，建议您定期更改密码以保护账户安全。</p>
          <div class="form-group" ng-show="SafetyHide">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">当前密码：</div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control text-center"
                                                                    style="width: 250px;margin-bottom: 10px"
                                                                    placeholder="请输入当前密码"></div>


            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">新密码：</div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control text-center"
                                                                    style="width: 250px; margin-bottom: 10px"
                                                                    placeholder="6-20个英文字母，数字或符号"></div>


            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">确认密码：</div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control text-center"
                                                                    style="width: 250px;" placeholder="请再次输入密码"></div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <button class="btn btn-default confirm-btn"><a href="">完成修改</a></button>
            </div>

          </div>

        </td>
        <td class="text-right"><a href="" ng-click="toggle()"><span ng-show="SafetyHide">收起</span><span
          ng-show="!SafetyHide">修改密码</span></a></td>
      </tr>

      <tr>
        <td class="text-le"><img src="../images/icoimage/safetywarn.png" class="safefault"><span
          class="login-pass">手机绑定</span></td>
        <td>
          <p class="text-center">绑定手机后，您可享受到丰富的手机相关的登录、安全及提醒服务。</p>
          <div class="form-group" ng-show="phoneHide">
            <p style="margin-bottom: 11px;">
              <span>手机号码：</span>
              <select style="width: 50px;height: 36px;border-radius: 3px;text-align: center;">
                <option class="text-center">86</option>
              </select>
              <em class="W_hline">—</em>
              <input type="text" class="phone">
            </p>

            <p>
              <span>验证码：</span>
              <input style="margin-left: 12px;" type="text" class="phone" placeholder="请填写验证码！">
              <button type="button" class="btn btn-default btn-sm">获取验证码</button>
            </p>
            <p class="text-center"><a>
              <button class="btn btn-default confirm-btn"><span>完成修改</span></button>
            </a></p>
          </div>

        </td>
        <td class="text-right">
          <button class="btn btn-default safety-btn" ng-click="phone()"><span ng-show="phoneHide">收起</span><span
            ng-show="!phoneHide">绑定手机</span></button>
        </td>
      </tr>

      <tr>
        <td class="text-le"><img src="../images/icoimage/safetywarn.png" class="safefault"><span
          class="login-pass">邮箱激活</span></td>
        <td><p class="text-center" style="margin-bottom: 24px">邮箱激活后，可快速找回密码，接受账户提醒邮件等其它安全保护。</p>
          <div class="form-group" ng-show="emailHide">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">邮件地址：</div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control"
                                                                    style="width: 200px"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <button type="button" class="btn btn-default confirm-btn">发送验证邮件</button>
            </div>

            <!--验证邮件发送之后提示部分-->
            <div class="form-group text-center" style="margin-bottom: 24px" ng-show="emailHide">
              <img src="../images/icoimage/emailtrue.png"> <span style="margin-left: 10px">请在2小时内点击邮件中的链接完成注册</span>
              <p>邮件已发送到邮箱<a href=""> wangmao@cloudforce.cn</a></p>
              <div>
                <button type="button" class="btn btn-default">立即查看邮件</button>
                <a href="" style="line-height: 34px;margin-left:35px">没有收到邮件？</a></div>
              <div><img src="../images/icoimage/prompt.png"><span style="margin-left: 10px">请先检查是否在垃圾邮件中，如果还未收到，<span
                style="color: red">请<a href="">45</a>秒后重新发送邮件</span></span></div>
            </div>
            <!--验证邮件发送之后提示部分-->
          </div>
        </td>

        <td class="text-right">
          <button class="btn btn-default safety-btn" ng-click="email()"><span ng-show="emailHide">收起</span><span
            ng-show="!emailHide">立即激活</span></button>
        </td>

      </tr>

      <tr>
        <td class="text-le"><img src="../images/icoimage/safetywarn.png" class="safefault"><span
          class="login-pass">实名认证</span></td>
        <td>
          <p class="text-center">实名认证可提高账户的安全性和信任级别</p>
          <div class="form-group" ng-show="approveHide" >
            <div class="text-center" style="margin-bottom: 11px;">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">真实姓名：</div>
              <input type="text" class="phone" placeholder="姓" style="max-width: 40px;">
              <em class="W_hline">—</em>
              <input type="text" class="phone" placeholder="名字">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">身份类型：</div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><select class="form-control" style="margin-bottom: 10px">
              <option>身份证</option>
            </select></div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">身份证号：</div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control text-center"
                                                                    placeholder="请填写有效身份证号"></div>
          </div>
        </td>
        <td class="text-right">
          <button class="btn btn-default safety-btn" ng-click="approve()"><span ng-show="approveHide">收起</span><span ng-show="!approveHide">立即认证</span></button>
        </td>
      </tr>

      <tr>
        <td class="text-le"><img src="../images/icoimage/safetywarn.png" class="safefault"><span
          class="login-pass">密保问题</span></td>
        <td>
          <p class="text-center">设置后可保护账户安全，验证您的身份工具之一。</p>
          <div class="form-group" ng-show="questionHide" >
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px;">问题一：</div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><select class="form-control s_center " ><option>请选择密保问题</option></select></div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px ;">答案：</div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control text-center safety-input"  placeholder="请输入答案"></div>


          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">问题二：</div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><select class="form-control s_center " ><option>请选择密保问题</option></select></div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">答案：</div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control text-center safety-input" placeholder="请输入答案"></div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">问题三：</div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><select class="form-control s_center "><option>请选择密保问题</option></select></div>

          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right" style="line-height: 38px">答案：</div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><input type="text" class="form-control text-center safety-input" placeholder="请输入答案"></div>
            </div>
        </td>
        <td class="text-right">
          <button class="btn btn-default safety-btn" ng-click="question()"><span ng-show="questionHide">收起</span><span ng-show="!questionHide">立即设置</span></button>
        </td>
      </tr>

      </tbody>
    </table>

    <button class="btn btn-primary " data-toggle="modal" data-target="#myModalchenggong">
      修改密码成功
    </button>
    <button class="btn btn-primary " data-toggle="modal" data-target="#myModalshibai">
      修改密码失败
    </button>



    <!--修改密码成功-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModalchenggong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog safety-modal-con">
        <div class="modal-content safety-modal-content">
          <div class="modal-header safety-modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalchenggong1">
              修改密码成功
            </h4>
          </div>
          <div class="modal-body text-center">
           <img src="../images/icoimage/pay-succeed.png"><span><strong class="safety-modal" style="">恭喜您，修改密码成功！</strong></span>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <!--修改密码成功-->

    <!--修改密码失败-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModalshibai" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog safety-modal-con">
        <div class="modal-content safety-modal-content">
          <div class="modal-header safety-modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalshibai2">
              修改密码失败
            </h4>
          </div>
          <div class="modal-body text-center">
            <img src="../images/icoimage/pay-fail.png"><span><strong class="safety-modal" style="">对不起，修改密码失败！</strong></span>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <!--修改密码失败-->

    <!--绑定手机成功-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModalchenggong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog safety-modal-con">
        <div class="modal-content safety-modal-content">
          <div class="modal-header safety-modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalchenggong1">
              绑定手机成功
            </h4>
          </div>
          <div class="modal-body text-center">
            <img src="../images/icoimage/pay-succeed.png"><span><strong class="safety-modal" style="">恭喜您，绑定手机成功！</strong></span>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <!--修改密码成功-->

    <!--绑定手机失败-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModalshibai" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog safety-modal-con">
        <div class="modal-content safety-modal-content">
          <div class="modal-header safety-modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalshibai2">
              绑定手机失败
            </h4>
          </div>
          <div class="modal-body text-center">
            <img src="../images/icoimage/pay-fail.png"><span><strong class="safety-modal" style="">对不起，手机绑定失败！</strong></span>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <!--绑定手机失败-->





    <!--实名认证成功-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModalchenggong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog safety-modal-con">
        <div class="modal-content safety-modal-content">
          <div class="modal-header safety-modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalchenggong1">
              实名认证成功
            </h4>
          </div>
          <div class="modal-body text-center">
            <img src="../images/icoimage/pay-succeed.png"><span><strong class="safety-modal" style="">恭喜您，实名认证成功！</strong></span>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <!--实名认证成功-->

    <!--实名认证失败-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModalshibai" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog safety-modal-con">
        <div class="modal-content safety-modal-content">
          <div class="modal-header safety-modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalshibai2">
              实名认证失败
            </h4>
          </div>
          <div class="modal-body text-center">
            <img src="../images/icoimage/pay-fail.png"><span><strong class="safety-modal" style="">对不起，实名认证失败！</strong></span>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <!--实名认证失败-->




    <!--密保设置成功-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModalchenggong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog safety-modal-con">
        <div class="modal-content safety-modal-content">
          <div class="modal-header safety-modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalchenggong1">
              密保设置成功
            </h4>
          </div>
          <div class="modal-body text-center">
            <img src="../images/icoimage/pay-succeed.png"><span><strong class="safety-modal" style="">恭喜您，密保设置成功！</strong></span>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <!--密保设置成功-->

    <!--邮箱激活成功-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModalchenggong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog safety-modal-con">
        <div class="modal-content safety-modal-content">
          <div class="modal-header safety-modal-head">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalchenggong1">
              邮箱激活成功
            </h4>
          </div>
          <div class="modal-body text-center">
            <img src="../images/icoimage/pay-succeed.png"><span><strong class="safety-modal" style="">恭喜您，邮箱激活成功！</strong></span>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <!--邮箱激活成功-->
  </div>
</div>



