<div class="container-fluid">
  <div class="row-fluid" style="margin: 10px;">
    <div class="signup-outer">
      <form name="validatedForm">

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <label class="pull-right" ><i class="fa fa-asterisk" style="color: red;margin-right: 2px;font-size: 1px"></i>姓名:</label>
          </div>
          <div class="col-md-7 col-sm-9 col-xs-9">
            <input type="text" name="username"  class="form-control" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <label class="pull-right"><i class="fa fa-asterisk" style="color: red;margin-right: 2px;font-size: 1px"></i>省份:</label>
          </div>
          <div class="col-md-7 col-sm-9 col-xs-9">
            <select class="form-control">
            </select>
          </div>
        </div>

        <div class="row">
        <div class="col-sm-3 col-xs-3">
          <label class="pull-right"><i class="fa fa-asterisk" style="color: red;margin-right: 2px;font-size: 1px"></i>城市:</label>
        </div>
        <div class="col-md-7 col-sm-9 col-xs-9">
          <select class="form-control"></select>
        </div>
      </div>

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <label class="pull-right">邮编:</label>
          </div>
          <div class="col-md-7 col-sm-9 col-xs-9">
            <select class="form-control"></select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <label class="pull-right"><i class="fa fa-asterisk" style="color: red;margin-right: 2px;font-size: 1px"></i>国家:</label>
          </div>
          <div class="col-md-7 col-sm-9 col-xs-9">
            <select class="form-control"></select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <label class="pull-right" ><i class="fa fa-asterisk" style="color: red;margin-right: 2px;font-size: 1px"></i>电子邮件:</label>
          </div>
          <div class="col-md-7 col-sm-9 col-xs-9">
            <input type="text" name="username"  class="form-control" required/>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <label class="pull-right" ><i class="fa fa-asterisk" style="color: red;margin-right: 2px;font-size: 1px"></i>联系电话:</label>
          </div>
          <div class="col-md-7 col-sm-9 col-xs-9">
            <input type="text" name="username"  class="form-control" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <label class="pull-right" ><i class="fa fa-asterisk" style="color: red;margin-right: 2px;font-size: 1px"></i>联系地址:</label>
          </div>
          <div class="col-md-7 col-sm-9 col-xs-9">
            <input type="text" name="username"  class="form-control" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <label class="pull-right" ><i class="fa fa-asterisk" style="color: red;margin-right: 2px;font-size: 1px"></i>付款方式:</label>
          </div>
          <div class="col-md-7 col-sm-9 col-xs-9">
            <input type="text" name="username"  class="form-control" required/>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-xs-3">
            <label class="pull-right" ><i class="fa fa-asterisk" style="color: red;margin-right: 2px;font-size: 1px"></i>会员身份:</label>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
            <div>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"> 个人
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2"> 企业/政府（含企业、政府、事业单位、团体、组织）
              </label>
              </div>
          </div>
        </div>

        <div class="row text-right">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button type="submit"  class="btn btn-primary " style="background-color: #0277BD">保存修改</button>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <button type="submit"  class="btn btn-primary " style="background-color: #0277BD">取消</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




