<div class="container-fluid community-star">
  <div class="row-fluid community-star-header">
    <div class="community-star-info col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <img src="../images/icoimage/star.png" class="community-star-ico">
      <p><strong>wangmao</strong></p>
      <p><strong>2016-01-06加入</strong></p>
      <p><strong>资深硬件研发工程师！</strong></p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" style="min-width: 330px">
      <input type="text" class="input-community-star" placeholder="请输入查询内容！">
      <button type="submit" class="btn btn-search">搜索</button>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 community-star-sort" style="min-width: 574px;">
      <span><i class="fa fa-sort" style="margin-left:5px;margin-right: 10px;"></i><a>综合排序</a></span>
      <span class="popularity"><i class="fa fa-sort"></i><a>人气</a></span>
      <span class="time"><i class="fa fa-sort"></i><a>创建时间</a></span>
    </div>
  </div>


    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 star-user-body">
      <div class=" star-user-device ">
        <img src="../images/icoimage/1.png" class="img-circle star-device-ico">
        <div class="user-device-info">
          <span> <a ng-href="" class="title">testing</a></span><span class="addition"><a href="" class="share"><i
          class="fa fa-share-alt"></i>分享</a> <a><i class="fa fa-star"></i>关注</a></span>
          <p class="">空间编号：<a href="">21</a></p>
          <p class="">标签：<a href="">嘟嘟、嘟嘟智能标签</a></p>
          <p class="">描述：检测周围环境温度、湿度、噪音等数据</p>
          <p class=""><img src="../images/icoimage/comment.png">评论（0）</p>
        </div>
      </div>
    </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 star-user-body">
    <div class=" star-user-device ">
      <img src="../images/icoimage/1.png" class="img-circle star-device-ico">
      <div class="user-device-info">
        <span> <a ng-href="" class="title">testing</a></span><span class="addition"><a href="" class="share"><i
        class="fa fa-share-alt"></i>分享</a> <a><i class="fa fa-star"></i>关注</a></span>
        <p class="">空间编号：<a href="">21</a></p>
        <p class="">标签：<a href="">嘟嘟、嘟嘟智能标签</a></p>
        <p class="">描述：检测周围环境温度、湿度、噪音等数据</p>
        <p class=""><img src="../images/icoimage/comment.png">评论（0）</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 star-user-body">
    <div class=" star-user-device ">
      <img src="../images/icoimage/1.png" class="img-circle star-device-ico">
      <div class="user-device-info">
        <span> <a ng-href="" class="title">testing</a></span><span class="addition"><a href="" class="share"><i
        class="fa fa-share-alt"></i>分享</a> <a><i class="fa fa-star"></i>关注</a></span>
        <p class="">空间编号：<a href="">21</a></p>
        <p class="">标签：<a href="">嘟嘟、嘟嘟智能标签</a></p>
        <p class="">描述：检测周围环境温度、湿度、噪音等数据</p>
        <p class=""><img src="../images/icoimage/comment.png">评论（0）</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 star-user-body">
    <div class=" star-user-device ">
      <img src="../images/icoimage/1.png" class="img-circle star-device-ico">
      <div class="user-device-info">
        <span> <a ng-href="" class="title">testing</a></span><span class="addition"><a href="" class="share"><i
        class="fa fa-share-alt"></i>分享</a> <a><i class="fa fa-star"></i>关注</a></span>
        <p class="">空间编号：<a href="">21</a></p>
        <p class="">标签：<a href="">嘟嘟、嘟嘟智能标签</a></p>
        <p class="">描述：检测周围环境温度、湿度、噪音等数据</p>
        <p class=""><img src="../images/icoimage/comment.png">评论（0）</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 star-user-body">
    <div class=" star-user-device ">
      <img src="../images/icoimage/1.png" class="img-circle star-device-ico">
      <div class="user-device-info">
        <span> <a ng-href="" class="title">testing</a></span><span class="addition"><a href="" class="share"><i
        class="fa fa-share-alt"></i>分享</a> <a><i class="fa fa-star"></i>关注</a></span>
        <p class="">空间编号：<a href="">21</a></p>
        <p class="">标签：<a href="">嘟嘟、嘟嘟智能标签</a></p>
        <p class="">描述：检测周围环境温度、湿度、噪音等数据</p>
        <p class=""><img src="../images/icoimage/comment.png">评论（0）</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 star-user-body">
    <div class=" star-user-device ">
      <img src="../images/icoimage/1.png" class="img-circle star-device-ico">
      <div class="user-device-info">
        <span> <a ng-href="" class="title">testing</a></span><span class="addition"><a href="" class="share"><i
        class="fa fa-share-alt"></i>分享</a> <a><i class="fa fa-star"></i>关注</a></span>
        <p class="">空间编号：<a href="">21</a></p>
        <p class="">标签：<a href="">嘟嘟、嘟嘟智能标签</a></p>
        <p class="">描述：检测周围环境温度、湿度、噪音等数据</p>
        <p class=""><img src="../images/icoimage/comment.png">评论（0）</p>
      </div>
    </div>
  </div>


  </div>

