<div class="container-fluid">
      <div class="row-fluid" style="margin: 10px;">
        <div class="signup-outer">
          <form name="validatedForm" ng-submit="saveAccountInfo(form)">

            <div class="row">
              <div class="col-sm-3 hidden-sm">
              </div>
              <div class="col-md-3 ">
                <h4 class="defaultColor">Edit Account</h4>
              </div>
            </div>

            <div class="row">

              <div class="col-sm-3 col-xs-1">
                <label class="pull-right">User ID</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" ng-class="{ 'has-error': validatedForm.username.$dirty && validatedForm.username.$error.required }">
                <input type="text" name="username" ng-model="form.username" class="form-control" required />
                <span ng-show="validatedForm.username.$error.required && validatedForm.username.$dirty" class="help-block">required</span>

              </div>

            </div>
            <div class="row">
              <div class="col-sm-3 col-xs-1">
                <label class="pull-right">Email</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" ng-class="{ 'has-error': validatedForm.email.$dirty && validatedForm.email.$error.required }">
                <input type="email" name="email" ng-model="form.email" class="form-control" required />
                <span ng-show="validatedForm.email.$error.required && validatedForm.email.$dirty" class="help-block">required</span>
                <span ng-show="!validatedForm.email.$error.required && validatedForm.email.$error.email && signUpForm.email.$dirty" class="help-block">invalid email</span>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-3 col-xs-1">
                <label class="pull-right">TomeZone</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" >
                <select class="form-control"  ng-model="form.timezone" ng-options="itemKey as (itemKey | timezone:itemVal) for (itemKey,itemVal) in timezones">
                </select>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-3 col-xs-1">
                <label class="pull-right ">Current Password</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" ng-class="{ 'has-error': validatedForm.password.$dirty && validatedForm.password.$error.required }">
                <input type="password" name="password" ng-model="form.password" class="form-control" required />
                <span ng-show="validatedForm.password.$error.required && validatedForm.password.$dirty" class="help-block">required</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">

              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" >
                <label class="pull-left"><input type="checkbox" ng-model="form.isChangePassword" />&nbsp;&nbsp;Do you want to change Password?</label>
              </div>
            </div>

            <div class="row" ng-if="form.isChangePassword">
              <div class="col-sm-3 col-xs-1" >
                <label class="pull-right">New Password</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" >
                <input type="password" ng-model="form.newPassword1" class="form-control" />
              </div>
            </div>

            <div class="row" ng-if="form.isChangePassword">
              <div class="col-sm-3 col-xs-1" >
                <label class="pull-right">Confirm Password</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" >
                <input type="password" ng-model="form.newPassword2" class="form-control" />
                <span ng-show="!isNewPassworMatch()" class="help-block">Passwords do not match.</span>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-3 hidden-sm">

              </div>
              <div class="col-md-7 col-sm-5 col-xs-5">

                <button type="submit" ng-disabled="validatedForm.$invalid " class="btn btn-new">Update Account</button>
              </div>
            </div>
          </form>

        </div>


      </div>
    </div>



