<div class="container-fluid">
      <div class="row-fluid"style="margin: 10px;">
        <div class="signup-outer">
          <form  name="signUpForm" ng-submit="Update(signUpForm)" role="form">

            <div class="row">
              <div class="col-sm-3 hidden-sm">

              </div>
              <div class="col-md-3 ">
                <h4 class="defaultColor">Edit Account</h4>
              </div>
            </div>

            <div class="row">

              <div class="col-sm-3 col-xs-1">
                <label class="pull-right">User ID</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" ng-class="{ 'has-error': signUpForm.username.$dirty && signUpForm.username.$error.required }">
                <input type="text" id="username" name="username" ng-model="signUpInfo.username" class="form-control" required />
                <span ng-show="signUpForm.username.$error.required && signUpForm.username.$dirty" class="help-block">required</span>

              </div>

            </div>
            <div class="row">
              <div class="col-sm-3 col-xs-1">
                <label class="pull-right">Email</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" ng-class="{ 'has-error': signUpForm.email.$dirty && signUpForm.email.$error.required }">
                <input type="email" id="email" name="email" ng-model="signUpInfo.email" class="form-control" required />
                <span ng-show="signUpForm.email.$error.required && signUpForm.email.$dirty" class="help-block">required</span>
                <span ng-show="!signUpForm.email.$error.required && signUpForm.email.$error.email && signUpForm.email.$dirty" class="help-block">invalid email</span>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-3 col-xs-1">
                <label class="pull-right">TomeZone</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" >
                <select class="form-control"  ng-model="signUpInfo.timezone">
                  <option ng-repeat="option in timeZones " value="{{option.value}}">{{option.text}}</option>
                </select>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-3 col-xs-1">
                <label class="pull-right ">Current Password</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" ng-class="{ 'has-error': signUpForm.password.$dirty && signUpForm.password.$error.required }">
                <input type="password" id="password" name="password" ng-model="signUpInfo.password" class="form-control" required />
                <span ng-show="signUpForm.password.$error.required && signUpForm.password.$dirty" class="help-block">required</span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">

              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" >
                <label class="pull-left"><input type="checkbox" ng-model="isChangePassword" />&nbsp;&nbsp;Do you want to change Password?</label>
              </div>
            </div>

            <div class="row" ng-show="isChangePassword">
              <div class="col-sm-3 col-xs-1" >
                <label class="pull-right">New Password</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" >
                <input type="password" id="new_password" name="new_password" ng-model="signUpInfo.new_password" class="form-control" />
              </div>
            </div>

            <div class="row" ng-show="isChangePassword">
              <div class="col-sm-3 col-xs-1" >
                <label class="pull-right">Confirm Password</label>
              </div>
              <div class="col-md-7 col-sm-5 col-xs-5" >
                <input ng-change="isMatch=false" type="password" id="confirmPassword" name="confirmPassword" ng-model="signUpInfo.confirmPassword" class="form-control" />
                <span ng-show="isMatch" class="help-block">Passwords do not match.</span>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-3 hidden-sm">

              </div>
              <div class="col-md-7 col-sm-5 col-xs-5">

                <button type="submit" ng-disabled="signUpForm.$invalid " class="btn btn-new">Update Account</button>
              </div>
            </div>
          </form>

        </div>


      </div>
    </div>



