<div class="container-fluid myattention">
  <div class="row-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12 attention_body ">
    <div class="table-responsive">

    <div class="mycommunity_header " style="min-width: 740px;">
    <span class="device_star hidden-xs"><b>我的关注</b></span>
    <span><i class="fa fa-sort" style="margin-left:5px;margin-right: 10px;"></i><a >综合排序</a></span>
    <span class="popularity"><i class="fa fa-sort"></i><a>人气</a></span>
    <span class="time" ><i class="fa fa-sort"></i><a>创建时间</a></span>
    <input  type="text" class="input-style" placeholder="请输入查询内容！" ng-model="searchText" >
    <button type="submit" class="btn btn-search " style="height:44px;width: 100px;margin-bottom: 4px">搜索</button>
    </div>
      <div class="col-lg-2"></div>
    </div>
    </div>

  <div class="row-fluid">

    <div class="attention_div col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
      <div class="attentionDivBorder">
        <img src="../images/icoimage/community-div-bg1.png" class="attention_div_img" >
        <div class="attention_div_info">
          <p><img src="../images/icoimage/id.png"><span>账户名：wangmao</span></p>
          <p><img src="../images/icoimage/author.png"><span>空间编号：wangmao</span></p>
          <p>检测周围环境温度、湿度、噪音等数据</p>
          <p><img src="../images/icoimage/tags.png"><span>标签：嘟嘟智能标签</span></p>
        </div>
      </div>
    </div>

    <div class="attention_div col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
      <div class="attentionDivBorder">
      <img src="../images/icoimage/community-div-bg1.png" class="attention_div_img" >
      <div class="attention_div_info">
        <p><img src="../images/icoimage/id.png"><span>账户名：wangmao</span></p>
        <p><img src="../images/icoimage/author.png"><span>空间编号：wangmao</span></p>
        <p>检测周围环境温度、湿度、噪音等数据</p>
        <p><img src="../images/icoimage/tags.png"><span>标签：嘟嘟智能标签</span></p>
      </div>
       </div>
    </div>

    <div class="attention_div col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
      <div class="attentionDivBorder">
        <img src="../images/icoimage/community-div-bg1.png" class="attention_div_img" >
        <div class="attention_div_info">
          <p><img src="../images/icoimage/id.png"><span>账户名：wangmao</span></p>
          <p><img src="../images/icoimage/author.png"><span>空间编号：wangmao</span></p>
          <p>检测周围环境温度、湿度、噪音等数据</p>
          <p><img src="../images/icoimage/tags.png"><span>标签：嘟嘟智能标签</span></p>
        </div>
      </div>
    </div>

    <div class="attention_div col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
      <div class="attentionDivBorder">
        <img src="../images/icoimage/community-div-bg1.png" class="attention_div_img" >
        <div class="attention_div_info">
          <p><img src="../images/icoimage/id.png"><span>账户名：wangmao</span></p>
          <p><img src="../images/icoimage/author.png"><span>空间编号：wangmao</span></p>
          <p>检测周围环境温度、湿度、噪音等数据</p>
          <p><img src="../images/icoimage/tags.png"><span>标签：嘟嘟智能标签</span></p>
        </div>
      </div>
    </div>

    <div class="attention_div col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
      <div class="attentionDivBorder">
        <img src="../images/icoimage/community-div-bg1.png" class="attention_div_img" >
        <div class="attention_div_info">
          <p><img src="../images/icoimage/id.png"><span>账户名：wangmao</span></p>
          <p><img src="../images/icoimage/author.png"><span>空间编号：wangmao</span></p>
          <p>检测周围环境温度、湿度、噪音等数据</p>
          <p><img src="../images/icoimage/tags.png"><span>标签：嘟嘟智能标签</span></p>
        </div>
      </div>
    </div>

    <div class="attention_div col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
      <div class="attentionDivBorder">
        <img src="../images/icoimage/community-div-bg1.png" class="attention_div_img" >
        <div class="attention_div_info">
          <p><img src="../images/icoimage/id.png"><span>账户名：wangmao</span></p>
          <p><img src="../images/icoimage/author.png"><span>空间编号：wangmao</span></p>
          <p>检测周围环境温度、湿度、噪音等数据</p>
          <p><img src="../images/icoimage/tags.png"><span>标签：嘟嘟智能标签</span></p>
        </div>
      </div>
    </div>

    <div class="attention_div col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
      <div class="attentionDivBorder">
        <img src="../images/icoimage/community-div-bg1.png" class="attention_div_img" >
        <div class="attention_div_info">
          <p><img src="../images/icoimage/id.png"><span>账户名：wangmao</span></p>
          <p><img src="../images/icoimage/author.png"><span>空间编号：wangmao</span></p>
          <p>检测周围环境温度、湿度、噪音等数据</p>
          <p><img src="../images/icoimage/tags.png"><span>标签：嘟嘟智能标签</span></p>
        </div>
      </div>
    </div>

    <div class="attention_div col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
      <div class="attentionDivBorder">
        <img src="../images/icoimage/community-div-bg1.png" class="attention_div_img" >
        <div class="attention_div_info">
          <p><img src="../images/icoimage/id.png"><span>账户名：wangmao</span></p>
          <p><img src="../images/icoimage/author.png"><span>空间编号：wangmao</span></p>
          <p>检测周围环境温度、湿度、噪音等数据</p>
          <p><img src="../images/icoimage/tags.png"><span>标签：嘟嘟智能标签</span></p>
        </div>
      </div>
    </div>

  </div>



</div>




