<div class="main">
  <div class="table-content duduhttp_table">
    <div class="list-header">
      <a class="btn btn-default" ng-href="#/duduHttp/create">New DuduHTTP</a>
    </div>
    <div class="border-table table-list"style="padding-right: 10px">
      <table class="table table-bordered table-striped table-condensed myTable" width="100%" border="0" cellpadding="0"
             cellspacing="0" st-safe-src="duduhttps" st-table="displayCollection">
        <thead class="tblHeader">
        <tr>
          <th><span>Name</span></th>
          <th><span>Host</span></th>
          <th><span>URL</span></th>
          <th><span>Method</span></th>
          <th><span>Content Type</span></th>
          <th><span>Auth Username</span></th>
          <th><span>Auth Password</span></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in displayCollection">
          <td>{{item.http_name}}</td>
          <td>{{item.host}}</td>
          <td>{{item.url}}</td>
          <td>{{item.method}}</td>
          <td>{{item.content_type}}</td>
          <td>{{item.auth_username}}</td>
          <td>{{item.auth_password}}</td>
          <td>
            <!--<a class="btn btn-default" ng-href="#/duduHttp/{{item.http_id}}" >Edit</a>-->
            <a class="btn btn-default" data-toggle="modal" data-target="#myModal" >Edit</a>

            <a class="btn btn-danger" href="" ng-click="deleteDuduHttp(item.http_id)">Delete</a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8" class="text-center">
            <div class="paging-style" st-pagination="" st-items-by-page="10"></div>
          </td>
        </tr>
        </tfoot>
      </table>


    </div>

  </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">

        </h4>
      </div>



      <div class="row channel-create">
        <div class="col-md-6 channel-form">
          <h2 ng-bind="pageTitle">  </h2>
          <h2>Edit Dudu Http</h2>
          <hr>
          <form ng-submit="saveDuduHttp(form)" class="form-inline">
            <table>

              <tr>
                <td>Name:</td>
                <td><input ng-model="form.http_name" class="form-control"></td>
              </tr>
              <tr style="line-height: 50px">
                <td>API Key:</td>
                <td><label class="text-danger">{{form.api_key || 'N/A'}}</label>
              </tr>
              <tr>
                <td>URL:</td>
                <td><input ng-model="form.url" class="form-control" required/></td>
              </tr>
              <tr style="line-height: 50px">
                <td>HTTP Auth Username:</td>
                <td><input ng-model="form.auth_username" class="form-control" /></td>
              </tr>
              <tr style="line-height: 50px">
                <td>HTTP Auth Password:</td>
                <td><input ng-model="form.auth_password" class="form-control"></td>
              </tr>
              <tr style="line-height: 50px">
                <td>Method:</td>
                <td>
                  <select class="form-control" ng-options="item.key as item.text for item in httpMethods" ng-model="form.method">
                  </select>
                </td>
              </tr>
              <tr style="line-height: 50px">
                <td>Content Type:</td>
                <td><input ng-model="form.content_type" class="form-control"></td>
              </tr>
              <tr style="line-height: 50px">
                <td>HTTP Version:</td>
                <td>
                  <select class="form-control" ng-options="item.key as item.text for item in httpVersions" ng-model="form.version">
                    <option value="">--Choose Edition--</option>
                  </select>
                </td>
              </tr>
              <tr style="line-height: 50px">
                <td>Host</td>
                <td><input ng-model="form.host" class="form-control"></td>
              </tr>
              <tr >
                <td>Headers:</td>
                <td>
                  <fieldset ng-repeat="item in form.headers track by $index" style="border:1px solid #ccc;padding:10px;margin:2px;">
                    <div>Name:<input ng-model="item.name" class="form-control"></div>
                    <div>Value:<input ng-model="item.value" class="form-control"></div><br/>
                    <div><button class="btn btn-info"><a href="" ng-click="removeHeader($index)">Remove</a></button></div>
                  </fieldset><br/>

                  <div><button class="btn btn-success"><a href="" ng-click="addNewHeader()">add new header</a></button></div><br/>
                </td>
              </tr>
              <tr style="line-height: 50px">
                <td>Body</td>
                <td><textarea ng-model="form.body" class="form-control"></textarea></td>
              </tr>
              <tr style="line-height: 50px">
                <td>Parse String</td>
                <td><input ng-model="form.parse_string" type="number" class="form-control"></td>
              </tr>
            </table>

            <div>
              <button class="btn btn btn-success save-btn" type="submit">Save ThingHTTP</button>
            </div>

          </form>
        </div>
        <div class="col-md-6">
          <h2>Help</h2>
          <hr>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.</p>
        </div>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>

