<div class="main">
  <div class="table-content duduhttp_table">
    <div class="list-header">
      <a class="btn btn-default" ng-href="#/duduHttp/create" ng-bind-html="Lang['main-devices.Newduduhttp']"></a>
    </div>
    <div class="border-table table-list table-responsive" style="padding-right: 10px">
      <table class="table table-bordered table-striped table-condensed myTable" width="100%" border="0" cellpadding="0"
             cellspacing="0" st-safe-src="duduhttps" st-table="displayCollection">
        <thead class="tblHeader">
        <tr>
          <th><span ng-bind-html="Lang['main-devices.Newduduhttp']"></span></th>
          <th><span >Host</span></th>
          <th><span>URL</span></th>
          <th><span ng-bind-html="Lang['main-devices.method']"></span></th>
          <th><span>Content Type</span></th>
          <th><span ng-bind-html="Lang['main-devices.AuthUsername']"></span></th>
          <th><span ng-bind-html="Lang['main-devices.AuthPassword']"></span></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in displayCollection">
          <td>{{item.http_name}}</td>
          <td>{{item.host}}</td>
          <td>{{item.url}}</td>
          <td>{{item.method}}</td>
          <td>{{item.content_type}}</td>
          <td>{{item.auth_username}}</td>
          <td>{{item.auth_password}}</td>
          <td>
            <!--<a class="btn btn-default" ng-href="#/duduHttp/{{item.http_id}}" >Edit</a>-->
            <a class="btn btn-default" ng-href="#/duduHttp/{{item.http_id}}" ng-bind-html="Lang['main-devices.edit']" ></a>

            <a class="btn btn-danger" href="" ng-click="deleteDuduHttp(item.http_id)" ng-bind-html="Lang['main-devices.delete']"></a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8" class="text-center">
            <div class="paging-style" st-pagination="" st-items-by-page="10"></div>
          </td>
        </tr>
        </tfoot>
      </table>


    </div>

  </div>
</div>




