<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class=" pull-left image">
        <img src="../images/user.png" alt="profile photo" class="img-circle">

                <span class="user-info">
                    <h5>Welcome</h5>
                    <h4>{{username}}</h4>
                <a href="#"><span>status</span><i class="fa fa-circle text-success"></i>Online</a>
                </span>
      </div>
    </div>
    <!-- search form -->

    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="active">
        <a href="">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="treeview">
        <a href="">
          <i class="fa fa-bookmark-o"></i> <span>Channels</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a ng-href="#/channels"><i class="fa fa-circle-o"></i>My Channels</a></li>
          <li><a href=""><i class="fa fa-user-md"></i>Professional</a></li>
          <li><a href=""><i class="fa fa-map-marker"></i>Hospital</a></li>
          <li><a href=""><i class="fa fa-ambulance"></i>Transportation</a></li>
          <li><a href=""><i class="fa fa-heart-o"></i>Home Care</a></li>
          <li><a href=""><i class="fa fa-building-o"></i>Office</a></li>
          <li><a href=""><i class="fa fa-medkit"></i>Home Monitoring</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="">
          <i class="fa fa-desktop"></i>
          <span>Devices</span><i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i> Devices</a></li>

        </ul>
      </li>

      <li class="treeview">
        <a href="">
          <i class="fa fa-user"></i>
          <span>Account</span><i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-user"></i> Account</a></li>
        </ul>
      </li>

      <li class="">
        <a href="" ng-click="logout()">
          <i class="fa fa-power-off"></i>
          <span>Sign Out</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
