<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <!--<div class=" pull-left image">-->
      <!--<img src="../images/user.png" alt="profile photo" class="img-circle">-->
      <!--</div>-->
      <div id="user-info">
                <span class="user-info" id="show">
                    <h4>Welcome</h4>
                    <h4>{{username}}</h4>
                  <!--&lt;!&ndash;<a href="#"><span>status</span><i class="fa fa-circle text-success"></i>Online</a>&ndash;&gt;-->
                </span>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <div class="sidebar-left">
      <ul class="sidebar-menu">
        <li class="default-color">
          <a class="active" ng-href="#/channels">
            <i class="fa fa-home"></i>
            <span style="width:183px; height: 58px;">Data Warehouse</span>
          </a>
        </li>
        <li class="treeview">
          <a href="">
            <i class="fa fa-bookmark-o"></i> <span style="width:183px; height: 49px;"> Data Factory</span> <i
            class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a ng-href="#/channels"><i class="fa fa-circle-o"></i>My Channels</a></li>
            <!--<li><a href=""><i class="fa fa-map-marker"></i>Hospital</a></li>-->
            <!--<li><a href=""><i class="fa fa-ambulance"></i>Transportation</a></li>-->
            <!--<li><a href=""><i class="fa fa-heart-o"></i>Home Care</a></li>-->
            <!--<li><a href=""><i class="fa fa-building-o"></i>Office</a></li>-->
            <!--<li><a href=""><i class="fa fa-medkit"></i>Home Monitoring</a></li>-->
            <li><a href="#/duduHttp"><i class="fa fa-circle-o"></i>Dudu HTTP</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="">
            <i class="fa fa-desktop"></i>
            <span style="width:183px; height: 49px;">Devices</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/myproducts"><i class="fa fa-circle-o"></i>My Products</a></li>
            <li><a href="#/mydevice"><i class="fa fa-circle-o"></i>My Devices</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="">
            <i class="fa fa-user"></i>
            <span style="width:183px; height: 49px;">Account</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/myaccount"><i class="fa fa-user"></i>My Account</a></li>
            <li><a href="#/editaccount" ng-click="path()"><i class="fa fa-user"></i>Edit Account</a></li>
            <li><a href=""><i class="fa fa-user"></i>Public Profile</a></li>
            <li><a href="#/editprofile"><i class="fa fa-user"></i>Edit Public Profile</a></li>
          </ul>
        </li>

        <li class="">
          <a href="" ng-click="logout()">
            <i class="fa fa-power-off"></i>
            <span style="width:183px; height: 58px;">Sign Out</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <div class="container-fluid footer navbar-fixed-bottom" style="overflow: hidden">
      <p class="container-fluid hidden-md hidden-sm ">
        Copyrig cla016<br/>
        DataDuDu Rights Reserved the All
      </p>
  </div>


</aside>
<script language="javascript">
  function mySwitch() {
    document.getElementById('show').style.display = document.getElementById('show').style.display == 'none' ? 'block' : 'none';
  }
</script>

