<div class="uploadicon">

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
    &times;
  </button>
  <h3 class="modal-title" ng-bind-html="Lang['uploadicon.Upload-Icon']"></h3>
</div>
<div class="modal-body">
  <p class="alert alert-info" ng-bind-html="Lang['uploadicon.Upload-prompt']"></p>

  <div class="alert">
    <div class="btn btn-default"
         ngf-select ng-model="iconFile" name="iconFile" ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="maxSize" ngf-resize="resize"
         ><span  ng-bind-html="Lang['uploadicon.ClickChooseImage']"></span></div>

    <img ngf-thumbnail="iconFile" ng-if="!!iconFile"
         ngf-size="{width: 120, height: 120, quality: 0.9}">

    <span ng-if="!iconFile"><label class="text-muted" ng-bind-html="Lang['uploadicon.NoImage']"></label> (<span ng-bind-html="Lang['uploadicon.MaxSize']"></span> {{maxSize}})</span>
  </div>

  <div ng-show="uploading">
    <p class="alert alert-warning">(Don't close this dialog while uploading.)</p>
  </div>

</div>
<div class="modal-footer">
  <span ng-show="uploading">
    Uploading...{{percentage}}%
  </span>

  <span ng-show="!uploading">
    <button type="submit" class="btn btn-primary" type="button" ng-click="upload(iconFile, form)">Upload</button>
  </span>

  <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

</div>
