<div class="modal-share">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  ng-click="cancel()">
    &times;
  </button>
  <h3 class="modal-title"  ng-bind-html="Lang['modal-share.choose-user']"></h3>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2" ng-bind-html="Lang['modal-share.Username']"></label>
      <div class="col-sm-9">
        <!--<input class="form-control" ng-model="form.accounts" />-->

        <input type="text" ng-model="form.toUser"
               placeholder="{{Lang['modal-share.placeholder']}}"
               uib-typeahead="user as user.username for user in searchAccounts($viewValue)"
               typeahead-loading="loadingAccounts"
               typeahead-no-results="noResults"
               typeahead-append-to-body="false"
               typeahead-min-length="3"
               typeahead-wait-ms="250"
               typeahead-editable="false"
               class="form-control">

        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> <span ng-bind-html="Lang['modal-share.results']"></span>
        </div>

        <p class="text-warning"ng-bind-html="Lang['modal-share.text-warning']"></p>
      </div>

      <div class="col-sm-1">
        <span ng-show="loadingAccounts">
          <i class="fa fa-spin fa-repeat"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()"><span  ng-bind-html="Lang['modal-con.ok']"></span></button>
  <button class="btn btn-warning" type="button" ng-click="cancel()"><span  ng-bind-html="Lang['modal-con.cancel']"></span></button>
</div>
</div>
