<div class="">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  ng-click="cancel()">
    &times;
  </button>
  <h3 class="modal-title">Choose User:</h3>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2">Username</label>
      <div class="col-sm-9">
        <!--<input class="form-control" ng-model="form.accounts" />-->

        <input type="text" ng-model="form.toUser"
               placeholder="Type in at least 3 characters for searching users..."
               uib-typeahead="user as user.username for user in searchAccounts($viewValue)"
               typeahead-loading="loadingAccounts"
               typeahead-no-results="noResults"
               typeahead-append-to-body="false"
               typeahead-min-length="3"
               typeahead-wait-ms="250"
               typeahead-editable="false"
               class="form-control">

        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>

        <p class="text-warning">You should choose a user from drop down list when it appears.</p>
      </div>

      <div class="col-sm-1">
        <span ng-show="loadingAccounts">
          <i class="fa fa-spin fa-repeat"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</div>
