
<div class="col-md-6 " style="padding-left: 10px;">
  <h2>Settings</h2>
  <hr>
  <div>
    <div ng-if="form">
      <table style="width: 100%;">
        <tr><td><label>Name</label></td></tr>
        <tr>
          <td><input ng-model="form.name" class="form-control"></td>
        </tr>
        <tr><td><label>Description</label></td></tr>
        <tr>
          <td><textarea ng-model="form.description" class="form-control"></textarea></td>
        </tr>

        <tr> <td><label>Metadata:</label></td></tr>
        <tr>
          <td><textarea ng-model="form.metadata" class="form-control"></textarea></td>
        </tr>

        <tr><td><label>Tags:</label></td></tr>
        <tr>
          <td><input ng-model="form.tags" class="form-control"></td>
        </tr>

        <tr> <td><label>latitude:</label></td></tr>
        <tr>

          <td><input ng-model="form.latitude" class="form-control"></td>
        </tr>

        <tr><td><label>longitude:</label></td></tr>
        <tr>
          <td><input ng-model="form.longitude" class="form-control"></td>
        </tr>

        <tr><td><label>elevation:</label></td></tr>
        <tr>
          <td><input ng-model="form.elevation" type="number" class="form-control"></td>
        </tr>

        <tr> <td><label>make public</label><input style="float: right" ng-model="form.public_flag" type="checkbox"></td>

        </tr>


        <tr> <td><label>url:</label></td></tr>
        <tr>
          <td><input ng-model="form.url" class="form-control"></td>
        </tr>

        <tr>  <td><label>videoId:</label></td></tr>
        <tr>
          <td>
            <input ng-model="form.videoId" class="form-control"><br/>

            <label>
              <input ng-model="form.video_type" type="radio" value="youtube">
              YouTube
            </label>

            <label>
              <input ng-model="form.video_type" type="radio" value="vimeo">
              Vimeo
            </label>
          </td>
        </tr>
      </table>
      <br/>
      <div style="margin-bottom: 10px;">
        <button class="btn btn btn-success save-btn" ng-click="saveChannel(form)">Save Channel</button>
        <button class="btn btn btn-warning save-btn" ng-click="clearFeed(form)">Clear Feed</button>
        <button class="btn btn btn-danger save-btn" ng-click="deleteChannel(form)">Delete Channel</button>
      </div>
    </div>

  </div>
</div>

<div class="col-md-6">
  <h2>Help</h2>
  <hr/>
  <div>
    <h4>ThinkSpeak Channal</h4>
    <p>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since</p>
    <p> the1500s,when an unknown printer took a galley of type and scrambled it to</p>
    <p> make a type specimen book.It has survived not only five centuries, but also</p>
    <p> the leap into electronic typesetting, remaining essentially unchanged.</p>
    <h4>Channal Settings</h4>
    <p>
      <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
      <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
      <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
      <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
      <i class="fa fa-circle-o"></i> Lorem Ipsum is simply dummy text of the printing and typesetting.<br/>
      <i class="fa fa-circle-o"></i>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>

    <h4>Using the Channal</h4>
    <p>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <p> Lorem Ipsum has been the industry's standard dummy text ever since the</p>
    <p> 1500s, when an unknown printer took a galley of type and scrambled it to</p>
    <p> make a type specimen book. It has survived not only five centuries, but also </p>
    <p> the leap into electronic typesetting, remaining essentially unchanged.

    </p>

  </div>


</div>


