<div class="container-fluid main-devices">

  <div class="row-fluid ">
    <div class="device_inner devices_con">
      <h2 ng-if="!editMode" ng-bind-html="Lang['devices_con.AddProductBatch']"></h2>
      <h2 ng-if="editMode" ng-bind-html="Lang['devices_con.EditProductBatch']"></h2>

      <p ng-bind-html="Lang['devices_con.con']"></p>

      <div class="device_form">
        <div class="device_cont">

          <div class="form-group">

            <label class="col-sm-3 col-md-1" ng-bind-html="Lang['devices_con.Name']"></label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.name"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 col-md-1" ng-bind-html="Lang['devices_con.Description']"></label>
            <div class="col-sm-9">
              <textarea type="text" class="form-control" ng-model="form.description"></textarea>
            </div>
          </div>

          <div class="form-group" ng-repeat="fidx in [1,2,3,4,5,6,7,8] track by $index" ng-init="$parent.form['field1-enabled']=true">
            <label class="col-sm-3 col-md-1" ng-bind-html="Lang['devices_con.Field']"> {{fidx}}</label>

            <div class="col-sm-6">
              <input type="text" class="form-control"
                     ng-model="$parent.form['field'+fidx]"
                     ng-disabled="!$parent.form['field'+fidx+'-enabled']">
            </div>
            <div class="col-sm-3 pt7">
              <input type="checkbox"
                     ng-model="$parent.form['field'+fidx+'-enabled']"
                     ng-change="$parent.form['field'+fidx]=''">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 col-md-1" ng-bind-html="Lang['devices_con.Metadata']"></label>
            <div class="col-sm-9">
              <textarea type="text" class="form-control" ng-model="form.metadata"></textarea>
            </div>
          </div>

          <p class="privacy_titlle"><strong ng-bind-html="Lang['devices_con.Privacy']"></strong>
            <small ng-bind-html="Lang['devices_con.Privacy_shuoming']"></small>
          </p>

          <div class="radio">
            <label><input type="radio" value="false" ng-model="form.public_flag" ng-bind-html="Lang['devices_con.PrivateDevice']"></label>
            <small ng-bind-html="Lang['devices_con.PrivateDevice_shuoming']"></small>
          </div>

          <div class="radio">
            <label><input type="radio" value="true" ng-model="form.public_flag" ng-bind-html="Lang['devices_con.PublicDevice']"></label>
            <small ng-bind-html="Lang['devices_con.PublicDevice_shuoming']"></small>
          </div>

          <div class="form-group" style="margin-top:10px;">
            <a href="" ng-click="addProduct(form)" class="btn btn-success " ng-disabled="loading" ng-if="!editMode" >
              <i style="margin-right:10px;" class="fa fa-plus"></i><span ng-bind-html="Lang['devices_con.AddBatch']"></span>
            </a>
            <a ng-href="#/myproducts" class="btn btn-danger " ng-if="!editMode">
              <i style="margin-right:10px;" class="fa fa-trash"></i>
              <i style="margin-right:10px;" class="fa fa-remove"></i><span ng-bind-html="Lang['devices_con.Cancel']"></span>
            </a>

            <a href="" ng-click="updateProduct(form)" class="btn btn-success " ng-disabled="loading" ng-if="editMode">
              <i style="margin-right:10px;" class="fa fa-save"></i><span ng-bind-html="Lang['devices_con.UpdateBatch']"></span>
            </a>
            <a ng-href="#/productdetails/{{form.product_id}}" class="btn btn-danger " ng-if="editMode">
              <i style="margin-right:10px;" class="fa fa-trash"></i>
              <i style="margin-right:10px;" class="fa fa-remove"></i><span ng-bind-html="Lang['devices_con.Cancel']"></span>
            </a>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>

