<div class="container-fluid main-devices">
  <div class="row devices_header">
    <span class="device_develop hidden-xs"><b ng-bind-html="Lang['main-devices.development']"></b></span>
    <input type="text" class="input-style" placeholder="{{Lang['main-devices.placeholder']}}" ng-model="searchText">
    <button type="submit" class="btn btn-search hidden-xs"><span ng-bind-html="Lang['main-devices.search']"></span></button>
    <a class="btn btn-default btn-new" ng-click="openModalAttachDevice()" ng-bind-html="Lang['main-devices.new_products']"></a>
  </div>
  <div class="row devices_sort">
    <span><i class="fa fa-sort"></i><a ng-bind-html="Lang['main-devices.sort']"></a></span>
    <span style="border-left:1px solid #828181"><i class="fa fa-sort" style="margin-left: 5px"></i><a ng-bind-html="Lang['main-devices.popularity_sort']" ></a></span>
    <span style="border-left:1px solid #828181"><i class="fa fa-sort" style="margin-left: 5px"></i><a ng-bind-html="Lang['main-devices.CreateDate']"></a></span>
  </div>
  <div class="col-md-6 devices_body table-responsive" ng-repeat="device in devices">
    <div class="devices_div">
      <img ng-src="{{channel.channel_icon}}" src="./images/icoimage/1.png"   class="img-circle device_ico "  style="max-height:88px;max-width:86px;">
      <!---->
      <div class="text-left">
        <span> <a ng-href="#/channels/{{device.channel_id}}/private" style="text-decoration:underline;">{{device.name}}</a></span><span><img src="./images/icoimage/duduico2.png" style="margin-left: 18px"></span>
        <span><button type="button" class="btn btn-danger devices_del"><a
          ng-click="removeDevice(device.activation_code)" style="color: #ffffff" ng-bind-html="Lang['main-devices.Remove']"></a></button></span>
        <p class="create">
          <span ><span ng-bind-html="Lang['main-devices.CreateDate']"></span>{{(device.attached_at | date:'yyyy-MM-dd') || 'Not Attached'}}</span>
         <span> <span ng-bind-html="Lang['main-devices.Activation_Time']"></span>{{(device.activated_at | date:'yyyy-MM-dd') || 'Not Activated'}}</span></p>
        <p ><span ng-bind-html="Lang['data-header.channel_id']"></span><a ng-href="#/channels/{{device.channel_id}}/private">{{device.channel_id}}</a></p>
        <!--<p class=""><span><strong ng-bind-html="Lang['main-devices.products_id']"></strong></span>{{product.product_id}}</p>-->

        <p class=""><span ng-bind-html="Lang['main-devices.products_id']"></span>{{product.product_id}}</p>

        <p class="table-responsive" ><span class="table-responsive"><span ng-bind-html="Lang['main-devices.Activation_Code']"></span>{{device.activation_code}}</span></p>

        <p class="ng-binding"><span ng-bind-html="Lang['main-devices.SerialNumber']"></span>{{product.secret}}</p>
      </div>
    </div>
  </div>
</div>



