<div class="container-fluid main-devices">
  <div class="row devices_header">
    <span class="device_develop hidden-xs"><b>设备开发</b></span>
    <input type="text" class="input-style" placeholder="请输入查询内容!" ng-model="searchText">
    <button type="submit" class="btn btn-search hidden-xs">搜索</button>
    <a class="btn btn-default btn-new" ng-click="openModalAttachDevice()">新建一批产品</a>
  </div>
  <div class="row devices_sort">
    <span><i class="fa fa-sort"></i><a>综合排序</a></span>
    <span style="border-left:1px solid #828181"><i class="fa fa-sort" style="margin-left: 5px"></i><a>人气</a></span>
    <span style="border-left:1px solid #828181"><i class="fa fa-sort" style="margin-left: 5px"></i><a>创建时间</a></span>
  </div>
  <div class="col-md-6 devices_body table-responsive" ng-repeat="device in devices">
    <div class="devices_div">
      <img ng-src="{{channel.channel_icon}}"  src="./images/icoimage/1.png" class="img-circle device_ico"  style="max-height:88px;max-width:86px;">
      <div class="text-left">
        <span> <a ng-href="#/channels/{{device.channel_id}}/private" style="text-decoration:underline;">{{device.name}}</a></span><span><img
        src="./images/icoimage/duduico2.png" style="margin-left: 18px"></span>
        <span><button type="button" class="btn btn-danger devices_del"><a
          ng-click="removeDevice(device.activation_code)" style="color: #ffffff">移除</a></button></span>
        <p class="create"><span>创建时间:{{(device.attached_at | date:'yyyy-MM-dd') || 'Not Attached'}}</span><span>激活时间:{{(device.activated_at | date:'yyyy-MM-dd') || 'Not Activated'}}</span>
        <p>
        <p>产品ID:{{device.channel_id}}</p>
        <p class="table-responsive">激活码:<span class="table-responsive">{{device.activation_code}}</span></p>
      </div>
    </div>
  </div>
</div>



