<div class="container-fluid main-devices">

  <div class="row-fluid col-md-12 device_mg">
    <h2>Development Devices<a href="#/addproducts" class="btn btn_add btn-new ng-binding add_serial"><i
      class="fa fa-plus"></i>Add Products Batch</a></h2>

    <div class="col-md-12 col-sm-12 device_mg">
      <div class="row ">

        <a ng-repeat="product in products" ng-href="#/productdetails/{{product.product_id}}">
          <div class="col-md-3 products-div">{{product.name}}</div>
        </a>

      </div>

    </div>
  </div>
</div>


