<div class="container-fluid">
  <div class="row-fluid messages-center" style="margin: 10px;">
    <table class="table table-bordered text-center">
      <thead class="message-header">
      <tr>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> <b>标题内容</b>
          </label></td>
        <td><b>提交时间</b></td>
        <td><b>类型</b></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>

        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>




