<div class="container-fluid">
  <div class="panel panel-default" style="margin: 10px;">
    <div class="panel-body">
      <div class="row-fluid accountinquiry_header">

        <div class="container-fluid">
          <table>
            <thead>
            <tr>
              <td><label class="pull-right">时间<i class="fa fa-question-circle tooltip-test" data-toggle="tooltip" title="支持自然月内的查询，超过12个月的记录查询请联系客服。" style="color:#3488C7;"></i>:</label></td>

              <td>
                <div class='input-group date' datetimepicker="query.begin"></div>
              </td>
              <td><label style="width: 25px">至</label></td>
              <td>
                <div class='input-group date' datetimepicker="query.end"></div>
              </td>

              <td><button type="button" class="btn btn-default" ng-click="reload()">查询</button></td>
              <td ><a href="" ng-click="exportData()">导出</a></td>

            </tr>
            </thead>
          </table>
        </div>

        <br>

        <div class="container-fluid" ng-class="{'disabled-mask': mc.isLoading}">
          <table class="table table-bordered text-center" st-pipe="mc.callServer" st-table="mc.displayed">
            <thead>
            <tr>
              <td st-sort-default="reverse" st-sort="id"><b>id</b></td>
              <td st-sort="bill_start"><b>bill_start</b></td>
              <td st-sort="bill_end"><b>bill_end</b></td>
              <td st-sort="size_storage"><b>size_storage</b></td>
              <td st-sort="traffic_in"><b>traffic_in</b></td>
              <td st-sort="traffic_out"><b>traffic_out</b></td>
              <td st-sort="usage"><b>usage</b></td>
            </tr>
            </thead>

            <tbody>

            <tr><td colspan="7" ng-show="mc.isLoading">加载中...</td></tr>

            <tr ng-repeat="item in mc.displayed">
              <td ng-bind="item.id"></td>
              <td ng-bind="item.bill_start | date:'yyyy-MM-dd HH:mm:ss' "></td>
              <td ng-bind="item.bill_end | date:'yyyy-MM-dd HH:mm:ss' "></td>
              <td ng-bind="item.size_storage | bytes"></td>
              <td ng-bind="item.traffic_in | bytes"></td>
              <td ng-bind="item.traffic_out | bytes"></td>
              <td ng-bind="item.usage | bytes"></td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
              <td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="7">
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
