<div class="container-fluid">
  <div class="panel panel-default" style="margin: 10px;">
    <div class="panel-body">
      <div class="row-fluid accountinquiry_header"></div>
        <div class="container-fluid">
          <table>
            <thead>
            <tr>
              <td><label class="pull-right"  ng-bind-html="Lang['billManagement.time']">时间<i class="fa fa-question-circle tooltip-test" data-toggle="tooltip" title="支持自然月内的查询，超过12个月的记录查询请联系客服。" style="color:#3488C7;"></i>:</label></td>

              <td>
                  <div class='input-group date' datetimepicker="query.begin"></div>
              </td>
              <td><label style="width: 25px" ng-bind-html="Lang['billManagement.to']">至</label></td>
              <td>
                  <div class='input-group date' datetimepicker="query.end"></div>
              </td>


              <td><button type="button" class="btn btn-default" ng-click="reload()" ng-bind-html="Lang['billManagement.query']">查询</button></td>
              <td ><a href="" ng-click="exportData()" ng-bind-html="Lang['billManagement.export']">导出</a></td>

            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>

        <br/>


        <div class="row-fluid" ng-class="{'disabled-mask': mc.isLoading}">
          <table class="table table-bordered text-center" st-pipe="mc.callServer" st-table="mc.displayed">
            <thead>
            <tr>
              <td st-sort-default="reverse" st-sort="order_id"><b ng-bind-html="Lang['billManagement.Bill_Id']">order_id</b></td>
              <td st-sort="order_status"><b ng-bind-html="Lang['billManagement.order_status']">order_status</b></td>
              <td st-sort="order_type"><b ng-bind-html="Lang['billManagement.order_type']">order_type</b></td>
              <td st-sort="plan_code"><b ng-bind-html="Lang['billManagement.plan_code']"></b></td>
              <td st-sort="paid_at"><b ng-bind-html="Lang['billManagement.paid_at']">paid_at</b></td>
              <!--<td st-sort="plan_start"><b>plan_start</b></td>-->
              <td st-sort="plan_end"><b ng-bind-html="Lang['billManagement.paid_end']">plan_end</b></td>
              <td st-sort="amount"><b ng-bind-html="Lang['billManagement.account']">amount</b></td>
            </tr>
            </thead>

            <tbody>

            <tr><td colspan="7" ng-show="mc.isLoading">加载中...</td></tr>

            <tr ng-repeat="item in mc.displayed">
              <td ng-bind="item.order_id"></td>
              <td ng-bind-html="item.order_status | paidState"></td>
              <td ng-bind="item.order_type"></td>
              <td ng-bind="item.plan_code"></td>
              <td ng-bind="item.paid_at | date:'yyyy-MM-dd HH:mm:ss' "></td>
              <!--<td ng-bind="item.plan_start | date:'yyyy-MM-dd HH:mm:ss' "></td>-->
              <td ng-bind="item.plan_end | date:'yyyy-MM-dd HH:mm:ss' "></td>
              <td ng-bind="item.amount | currency:'￥'"></td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
              <td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="8">
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

