<div class="container-fluid">
  <div class="panel panel-default" style="margin: 10px;">
    <div class="panel-body">
      <div class="row-fluid accountinquiry_header"></div>

      <div class="text-muted">
        选择空间查看具体订单<hr>
      </div>

        <div class="container-fluid">
          <table class="table table-striped" width="100%" st-safe-src="channelsResource.channels" st-table="displayCollection">
            <thead class="tblHeader">
            <tr>
              <th><span>ID</span></th>
              <th><span>Name</span></th>
              <th><span>Plan Code</span></th>
              <th><span>Last Entry Date</span></th>
              <th><span></span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="channel in displayCollection">
              <td ng-bind="channel.channel_id"></td>
              <td ng-bind="channel.name"></td>
              <td ng-bind="channel.plan_code"></td>
              <td ng-bind="channel.last_entry_date | date:'yyyy-MM-dd'"></td>
              <td><a href="" ng-click="chooseChannel(channel.channel_id)" class="text-link">查看此空间订单</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div class="paging-style" st-pagination="" st-items-by-page="10"></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>

        <div class="text-muted">
          订单列表<hr>
        </div>

        <div class="container-fluid form-inline">
          <label class="form-group">
            Channel ID:
            <input class="form-control form-inline" placeholder="留空为所有空间" ng-model="query.channel_id" />
          </label>

          <label class="form-group">
            时间<i class="fa fa-question-circle tooltip-test" data-toggle="tooltip" title="支持自然月内的查询，超过12个月的记录查询请联系客服。" style="color:#3488C7;"></i>:
            <div class='input-group date' datetimepicker="query.begin"></div>
          </label>

          <label class="form-group">
            至
            <div class='input-group date' datetimepicker="query.end"></div>
          </label>

          <button type="button" class="btn btn-default" ng-click="reload()">查询</button>
          <!--<a href="" ng-click="exportData()">导出</a>-->
        </div>

        <br/>

        <div class="row-fluid" ng-class="{'disabled-mask': mc.isLoading}">
          <table class="table table-striped text-center" st-pipe="mc.callServer" st-table="mc.displayed">
            <thead>
            <tr>
              <td st-sort-default="reverse" st-sort="order_id"><b>order_id</b></td>
              <td st-sort="order_status"><b>order_status</b></td>
              <td st-sort="order_type"><b>order_type</b></td>
              <td st-sort="plan_code"><b>plan_code</b></td>
              <td st-sort="paid_at"><b>paid_at</b></td>
              <td st-sort="plan_start"><b>plan_start</b></td>
              <td st-sort="plan_end"><b>plan_end</b></td>
              <td st-sort="amount"><b>amount</b></td>
            </tr>
            </thead>

            <tbody>

            <tr><td colspan="7" ng-show="mc.isLoading">加载中...</td></tr>

            <tr ng-repeat="item in mc.displayed">
              <td ng-bind="item.order_id"></td>
              <td ng-bind-html="item.order_status | paidState"></td>
              <td ng-bind="item.order_type"></td>
              <td ng-bind="item.plan_code"></td>
              <td ng-bind="item.paid_at | date:'yyyy-MM-dd HH:mm:ss' "></td>
              <td ng-bind="item.plan_start | date:'yyyy-MM-dd HH:mm:ss' "></td>
              <td ng-bind="item.plan_end | date:'yyyy-MM-dd HH:mm:ss' "></td>
              <td ng-bind="item.amount | currency:'￥'"></td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
              <td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="8">
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
