<div class="container-fluid">
  <div class="row-fluid accountinquiry" style="margin: 10px;">
    <div class="row accountinquiry_header table-responsive">
      <table>
        <thead>
        <tr>
          <td>
            <label class="pull-right">产品</label>
          </td>

          <td >
            <select class="form-control">
              <option>所有产品</option>
            </select>
          </td>

          <td><label class="pull-right">订单类型:</label></td>

          <td>
            <select class="form-control">
              <option>所有类型</option>
            </select>
          </td>

          <td><label class="pull-right">支付状态:</label></td>

          <td>
            <select class="form-control">
              <option>所有状态</option>
            </select>
          </td>

          <td><label class="pull-right">时间<i class="fa fa-question-circle tooltip-test" data-toggle="tooltip" title="支持自然月内的查询，超过12个月的记录查询请联系客服。" style="color:#3488C7;"></i>:</label></td>

          <td >

            <div class="form-group " style="float: left;margin-bottom: 0;">
              <div class='input-group date' id='date_from' style="width: 150px">
                <input type='text' class="form-control"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>

          </td>
          <td><label style="width: 25px">至</label></td>
          <td>

            <div class="form-group" style="float: left;margin-bottom: 0">
              <div class='input-group date' id='date_to' style="width: 150px">
                <input type='text' class="form-control"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
            </div>
          </td>


          <td><button type="button" class="btn btn-default">查询</button></td>
          <td ><a href="">导出</a></td>

        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>


    <div class="row accountinquiry_body table-responsive">
      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <td>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> <b>订单号</b>
            </label></td>
          <td><b>交易编号</b></td>
          <td><b>产品及服务</b></td>
          <td><b>创建时间</b></td>
          <td><b>支付/开通时间</b></td>
          <td><b>状态</b></td>
          <td><b>金额</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Tanmay</td>
          <td>Bangalore</td>
          <td>560001</td>
          <td>560001</td>
          <td>560001</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
