<div class="container-fluid payment">
  <div class="row-fluid" >
    <span style="font-size: 17px;">余额  :  ¥0.00</span>
  </div>

  <div class="row-fluid payment-way" >
    <div class="checkbox checkbox-info checkbox-circle">
    <input id="checkbox8" class="styled" type="checkbox" checked="">
    <label >
    支付宝充值/微信充值
    </label>
    </div>

    <div class="ali-we ">
    <label class="checkbox-inline ">
      <input type="radio" ng-model="form.bank_id" value="alipay"> <img src="../images/icoimage/alipay.png">
    </label>
      <label class="checkbox-inline">
        <input type="radio" ng-model="form.bank_id" value="wechat" > <img src="../images/icoimage/wechat.png">
      </label>
    </div>
  </div>


  <div class="pay-money">
    <span style="font-size: 17px;"><b>充值金额</b>:</span><input ng-model="form.amount" type="text"><span style="font-size: 17px;"><strong>元</strong></span>
  </div>

  <div class="row">
    <p>
      <label class="checkbox-inline payment-checkbox">
        <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option4" disabled> <b>网上银行</b><span class="checkbox-disabled" >抱歉，暂不支持网上支付</span>
      </label>
    </p>
    <p>
      <label class="checkbox-inline payment-checkbox">
        <input type="radio" name="optionsRadiosinline" id="optionsRadios5"  value="option5" disabled><b>快捷支付</b><span class="checkbox-disabled">抱歉，暂不支持快捷支付</span>
      </label>
    </p>
  </div>
  <div class="table-responsive">
  <div class="row-fluid warm-prompt ">
    <p><strong>温馨提示</strong></p>
    <ul>
      <li>1.通过信用卡的快捷支付有500元限制，超过500元时您可以选择其他方式支付。</li>
      <li style="color: red">2.如您有欠费账单，充值后会优先补扣欠费账单。</li>
      <li>3.充值后请及时对支付账单进行结算，以免影响正常服务。 </li>
    </ul>
  </div>
</div>
<div class="table-responsive">
  <div class="row-fluid top-up ">
    <button type="button" class="btn btn-primary" ng-click="sendChargeRequest(form)" data-toggle="modal" data-target="#WeChatModal">充值</button><span >请仔细核对充值金额，充错金额将无法退款。</span>
  </div>
</div>

  <div>
    <label class="checkbox-inline">
      <input  type="radio" name="optionsRadiosinline" id="optionsRadios9"  value="option3" data-toggle="modal" data-target="#WeChatSucceedsModal"> 支付成功
    </label>

    <label class="checkbox-inline">
      <input  type="radio" name="optionsRadiosinline" id="optionsRadios10"  value="option3" data-toggle="modal" data-target="#WeChatFailModal">充值失败
    </label>
    </div>
</div>
