<div class="container-fluid renewPayment">

  <div class="row-fluid">
  <p>订单信息</p>
    <div class="">
      <div class="y-process y-process-3">
        <span class="y-unit y-complete">确认订单</span>
        <span class="y-arrow y-complete-complete">
            <span class="y-next"></span>
            <span class="y-prev"></span>
        </span>
        <span class="y-unit y-complete">支付</span>
        <span class="y-arrow y-complete-current">
            <span class="y-next"></span>
            <span class="y-prev"></span>
        </span>
        <span class="y-unit y-current">支付结果</span>
      </div>
  </div>
    <br/>
  </div>

  <div class="row-fluid renewSucceed" style="padding-top: 60px">
      <div class="col-md-4 col-sm-4 col-xs-4 text-right">
        <span><img src="../images/icoimage/pay-succeed.png"></span>
      </div>
      <div class="text-left">
        <h4>恭喜您，续费成功！</h4>
        <p>订单编号：</p>
        <p>支付金额：<span>查看：<a>查看订单管理</a></span></p>
      </div>
  </div>


  <div class="row-fluid renewFailure" style="padding-top: 60px">
    <div class="col-md-4 col-sm-4 col-xs-4 text-right">
      <span><img src="../images/icoimage/pay-fail.png"></span>
    </div>

    <div class="text-left">
      <h4>对不起，支付失败！</h4>
      <p>如果您已付款，可能因交易激增导致交易单延迟处理（最长数秒至数分钟）。<br/>
        您可稍后<a href="">刷新本页</a>或前往<a href="">订单管理</a>查看支付情况。</p>
      <p class="text-center">
        <span>订单号：</span>
        <span>充值金额：</span>
        <span><button type="button" class="btn btn-default">点击充值</button></span>
      </p>
      <hr style="color: #0068b7">
      <div class="col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
      <p style="color: #0068b7">付款遇到问题了？先看看是不是由于下面的原因：</p>
      <p>网上银行已扣款，订单仍显示“未付款”,可能由于银行的数据没有即时<br/>
        传输，请不要担心，稍后刷新页面看看。如较长时间仍显示未付款，<br/>
        可联系轻松连在线客服或拨打客服热线（000-000000）为您解决。</p>
        </div>
    </div>
  </div>


  <div class="row-fluid renewQuestion" style="margin-top: 60px">
    <div class="col-md-4 col-sm-4 col-xs-4 text-right">
      <span><img src="../images/icoimage/meagesspay.png"></span>
    </div>
    <div class="text-left">
      <h4>请您在新打开的页面上完成支付。</h4>
      <p>支付完成前请不要关闭此窗口。<br/>
        支付完成后请根据您的情况点击下面的按钮：</p>
      <p class="text-center">
        <span><button type="button" class="btn btn-default">支付成功</button></span>
        <span><button type="button" class="btn btn-default">支付失败</button></span>

      </p>
      <p class=text-center><a href="">使用其他的支付方式》</a></p>
    </div>
  </div>
</div>
