<div class="modal fade packageChangeCancel" style="padding-top: 15%" id="packageChangeCancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <p><img src="../images/icoimage/pay-fail.png"><span>对不起，变更失败！</span></p>

      </div>

    </div>
  </div>
</div>
