<div class="main">
  <div class="table-content duduhttp_table">
    <div class="list-header">
    </div>
    <div class="border-table table-list table-responsive" style="padding-right: 10px">
      <table class="table" st-pipe="mc.callServer" st-table="mc.displayed">
        <thead class="tblHeader">
        <tr>
          <th><span ng-bind-html="Lang['DataRules.ID']">ID</span></th>
          <th><span ng-bind-html="Lang['DataRules.rule_name']">rule_name</span></th>
          <th><span ng-bind-html="Lang['DataRules.channel_id']">channel_id</span></th>
          <th><span ng-bind-html="Lang['DataRules.condition']">condition</span></th>
          <th><span ng-bind-html="Lang['DataRules.criteria']">criteria</span></th>
          <th><span ng-bind-html="Lang['DataRules.action_frequency']">action_frequency</span></th>
          <th><span ng-bind-html="Lang['DataRules.updated_at']">updated_at</span></th>
          <th><span ng-bind-html="Lang['DataRules.created_at']">created_at</span></th>
          <th></th>
        </tr>
        </thead>
        <tbody ng-show="!mc.isLoading">
        <tr ng-repeat="item in mc.displayed">
          <td>{{item.rule_id}}</td>
          <td>{{item.rule_name}}</td>
          <td>{{item.channel_id}}</td>
          <td>{{item.condition}}</td>
          <td>{{item.criteria}}</td>
          <td>{{item.action_frequency}}</td>
          <td>{{item.updated_at | date:"yyyy-MM-dd hh:mm:ss"}}</td>
          <td>{{item.created_at | date:"yyyy-MM-dd hh:mm:ss"}}</td>
          <td>
            <!--<a class="btn btn-default" ng-href="#/duduHttp/{{item.http_id}}" >Edit</a>-->
            <a class="btn btn-default" ng-href="#/channels/{{item.channel_id}}/rules" ng-bind-html="Lang['DataRules.GoTo']">Go to...</a>
          </td>
        </tr>
        <tr ng-if="!mc.displayed.length">
          <td colspan="9" class="text-left">
            <p class="" ng-bind-html="Lang['DataRules.NoAvailableData']">No available data</p>
          </td>
        </tr>
        </tbody>
        <tbody ng-show="mc.isLoading">
        <tr>
          <td colspan="9" class="text-left">
            <p class="">Loading...</p>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="9">
          </td>
        </tr>
        </tfoot>
      </table>


    </div>

  </div>
</div>




