
<div class="container-fluid topnav">
  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#example-navbar-collapse">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
        <div class="header-logo col-sm-12 headerLogo" >
          <a class="logoLong" href="#" style="float: left;"><img src="../images/icoimage/newLogo.png" ></a>
          <a class="logoShort" href="#" style="float: left;"><img src="../images/icoimage/index-log.png" ></a>
        </div>
        </div>

      </div>
      <div class="collapse navbar-collapse navbar-right" id="example-navbar-collapse">
        <ul class="nav navbar-nav  header-nav" style="margin-right: 20px">
          <li>
          <a href="http://www.datadudu.cn/">首页</a>
          </li>
          <li class="dropdown_buttom">
          <a type="button" class="btn dropdown-toggle dudu_yingjian" id="dropdownMenu1" data-toggle="dropdown" style="">
          轻松连智能硬件
          </a>

          <ul class="dropdown-menu dudu_yingjian" role="menu" aria-labelledby="dropdownMenu1">
          <li role="" >

          <a href="http://www.datadudu.cn/dudu-sense/"> <img src="../images/icoimage/dudu_tag.png"></a>
          <span >智能标签</span>
          </li>
          <li role="">
          <a> <img src="../images/icoimage/dudu_Switch.png"></a>
          <span >智能开关</span>
          </li>
          <li role="">
          <a> <img src="../images/icoimage/dudu_air.png"></a>
          <span >空气智能检测</span>
          </li>

          <li role="">
          <a > <img src="../images/icoimage/dudu_ir.png"></a>
          <span >智能红外</span>
          </li>
          <li role="presentation">
          <a> <img src="../images/icoimage/dudu_socket.png"></a>
          <span >智能插座</span>
          </li>
          <li role="presentation">
          <a> <img src="../images/icoimage/dudu_stage.png"></a>
          <span >智能水位监测设备</span>
          </li>
          </ul>

          </li>
          <li>
          <a href="http://console.datadudu.cn">管理控制台</a>
          </li>
          <li>
          <a href="http://www.datadudu.cn/pricing/">计费方式</a>
          </li>
          <li>
          <a href="http://www.datadudu.cn/docs/">新闻活动</a>
          </li>
          <li>
          <a href="http://www.datadudu.cn/docs/">社区与文档</a>
          </li>
          <li>
          <a href="http://www.datadudu.cn/aboutus/">关于我们</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>


<!--<div class="text-center" style="z-index:9999;position: absolute;margin-left:45%"><img src="../images/icoimage/login_img.png"></div>-->
<div class="hold-transition login-page" style="position:fixed;width:100%;height:100%;">
  <div class="login-box">

    <!-- /.login-logo -->

    <div class="login-box-body">
      <form>
        <div class="form-group has-feedback">
          <input type="username" class="form-control" placeholder="用户名" ng-model="loginForm.username" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="密码" ng-model="loginForm.password" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 checkbox">
              <input type="checkbox"><label>记住密码</label>
          </div>

          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 checkbox text-right" style="float: right;margin-top: 0;">
              <input type="checkbox"> <label>自动登录</label>
          </div>

        </div>
        <div class="form-group">
          <div class="alert alert-danger small" ng-show="loginForm.message">{{loginForm.message}}</div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-md-4 col-md-offset-8 col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="login(loginForm)">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <div class="login_bottom" >
      <span style="padding-right: 40px; "><a href="http://console.datadudu.cn/register/">免费注册</a></span>
      <span style="padding-left: 40px"><a href="#">找回密码</a></span>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</div>

<!-- Footer start-->
<div class="navbar navbar-fixed-bottom container-fluid footed  hidden-xs">
  <div>
    <div class="row-fluid footedinfo">
      <div class="col-md-1 col-sm-0 col-lg-2"></div>

      <div class="col-md-4 col-sm-4 col-xs-12 col-lg-3">
        <a class="" href="#" style="float: left;padding: 5px 10px 5px 0"><img
          src="../images/icoimage/footer-logo.png"></a>
        <h2 style="display: block">轻松连™大数据</h2>
        <!--<div class="col-md-2"><img src="./images/ico/footer-logo.png"></div>-->
        <!--<div class="col-md-10"><h2>DATA DUDU</h2></div>-->
        <span>领先的物联网数据存储及云服务平台</span>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
        <h3><a href="">快速链接 </a></h3>
        <div class=" footedmenu" style="margin-right: 50px">
          <ul>
            <li><i class="fa fa-long-arrow-right"></i><a href="">首页</a></li>
            <li><i class="fa fa-long-arrow-right"></i><a href="">关于我们</a></li>
            <li><i class="fa fa-long-arrow-right"></i><a href="">加入我们</a></li>
            <li><i class="fa fa-long-arrow-right"></i><a href="">团队</a></li>
          </ul>
        </div>

        <div class=" footedmenu">
          <ul>
            <li><i class="fa fa-long-arrow-right"></i><a href="">关于隐私</a></li>
            <li><i class="fa fa-long-arrow-right"></i><a href="">版权声明</a></li>
            <li><i class="fa fa-long-arrow-right"></i><a href="">联系我们</a></li>

          </ul>
        </div>

      </div>

      <div class="col-md-4 col-sm-5 col-xs-12 col-lg-3 text-left">
        <h3><a href=""> 联系我们</a></h3>
        <p><span class=""></span><i class="fa fa-phone"> </i>0411-86686675<br>
          <span class="icon icon-phone"></span><i class="fa fa-envelope "> </i>info@cloudforce.cn<br>
          <span class="icon icon-mobile"></span> <i class="fa fa-map-marker" style="margin-right: 17px"> </i>辽宁省大连市甘井子区虹港路23号六楼<br>
        </p>

        <ul class="social-links">
          <li class=""><a href=""><img src="../images/icoimage/facebook.png"></a></li>
          <li class=""><a href=""><img src="../images/icoimage/twitter.png"></a></li>
          <li class=""><a href=""><img src="../images/icoimage/linkedin.png"></a></li>
          <li class=""><a href=""><img src="../images/icoimage/googleplus.png"></a></li>
          <li class=""><a href=""><img src="../images/icoimage/youtube.png"></a></li>
        </ul>
      </div>

      <div class=" col-xs-1"></div>
    </div>
  </div>
  <div class=" row-fluid ">

    <div class="col-md-12 copyrights text-center">
      <span style="color: #FFFFFF;">Copyrights © 2016 UBIBOT.CN | All rights reserved.</span>
    </div>
  </div>
</div>
<!-- Footer end-->
<!-- jQuery -->
<!-- Bootstrap Core JavaScript -->

