<div class="panel panel-default">
  <div class="panel-body triggersLog">
    <div class="row channel-main-setting">
      <div class="col-md-12" style="padding-left: 10px;">
        <h2 ></h2>
        <p class="text-muted"><span  ng-bind-html="Lang['triggers.reminder']"></span> {{mc.tableState.pagination.number}}
          <span  ng-bind-html="Lang['triggers.reminder2']"></span></p>
        <hr>
        <div class="table-responsive">
          <table class="table" st-pipe="mc.callServer" st-table="mc.displayed">
            <thead style="background-color: #0277BD;color: #ffffff">
            <tr>
              <th class="text-nowrap" ng-bind-html="Lang['triggers.TriggerID']"></th>
              <th class="text-nowrap" ng-bind-html="Lang['triggers.Field']"></th>
              <th class="text-nowrap" ng-bind-html="Lang['triggers.Log']" ></th>
              <th class="text-nowrap" ng-bind-html="Lang['triggers.Status']"></th>
              <th class="text-nowrap" st-sort="created_at" st-skip-natural="true" ng-bind-html="Lang['triggers.CreatedAt']"></th>
              <th class="text-nowrap" st-sort="finished_at" st-skip-natural="true" ng-bind-html="Lang['triggers.FinishedAt']"></th>
            </tr>
            </thead>
            <tbody ng-show="!mc.isLoading">
            <tr ng-repeat="row in mc.displayed">
              <td >{{row.trigger_id}}</td>
              <td >{{row.field}}</td>
              <td >{{row.log}}</td>
              <td >{{row.status}}</td>
              <td >{{row.created_at}}</td>
              <td >{{row.finished_at}}</td><!-- | date:'yyyy-MM-dd HH:mm:ss' -->
            </tr>
            <tr ng-if="!mc.displayed.length">
              <td colspan="6" class="text-left">
                <p class="" ng-bind-html="Lang['triggers.NoData']"></p>
              </td>
            </tr>
            </tbody>
            <tbody ng-show="mc.isLoading">
            <tr>
              <td colspan="6" class="text-left">
                <p class="" ng-bind-html="Lang['triggers.Loading']"> </p>
              </td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
              <td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="6">
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

