<div class="modal fade packageChangeConfirm" style="padding-top: 15%" id="packageChangeConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <p><img src="../images/icoimage/pay-succeed.png"><span>恭喜您，套餐更改成功！</span></p>

      </div>

    </div>
  </div>
</div>
