<div class="modal fade " id="DeviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container-fluid modal-dialog modal-lg">
    <div class="modal-content container-fluid" >
      <form>
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title">Attach Device</h4>
        </div>

        <div class="row modal-attach">
          <ul class="nav nav-tabs">
            <li class="active"><a >My Activation Code</a></li>
            <li><a >By Product Batches</a></li>
          </ul>

          <div class="tab-content tab-bg">
            <div class="private-tab">
              <form name="form"  role="form" class="ng-pristine ng-invalid ng-invalid-required">
                <div class="form-group row">
                  <label class="col-sm-2 col-md-2">Activation Code</label>
                  <div class="col-sm-6"><input type="text" name="actionCode"  class="form-control  ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="Enter Activation Code Here.." required="">

                  </div>
                  <div class="col-sm-2 col-md-2" style="margin-left:20px; ">
                    <button type="submit" class="btn btn_add btn-new ng-binding">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="tab-content tab-bg">
            <div id="private" class="tab-pane fade in active" ng-class="{'in active':deviceTabs.isProductBatch}">
              <div class="private-tab">
                <form name="formProduct" ng-submit="activateDeviceByProductBatch()" role="form" class="ng-invalid ng-invalid-required ng-dirty ng-valid-parse">
                  <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                      <label>
                        <input type="radio" ng-change="clearProductId(true)" name="productBatch" ng-value="true" ng-model="isMyProductBatch" class="ng-valid ng-not-empty ng-dirty ng-touched ng-valid-parse" value="true">
                        My Product Batches
                      </label>
                    </div>
                    <div class="col-sm-3">
                      <label>
                        <input type="radio" name="productBatch" ng-change="clearProductId(false)" ng-value="false" ng-model="isMyProductBatch" class="ng-valid ng-not-empty ng-dirty ng-touched" value="false">
                        Public Product Batches
                      </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 active_txt">Select Product</label>
                    <div class="col-sm-6">
                      <select ng-show="isPublicProduct" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="selectedDevice" ng-options="obj.name for obj in myProducts"><option value="" class="" selected="selected">--Select Product---</option><option label="New device" value="object:52">New device</option><option label="new dudu" value="object:53">new dudu</option><option label="DuduTags" value="object:54">DuduTags</option></select>
                      <input type="text" ng-hide="isPublicProduct" ng-model="searchProductName" class="form-control  ng-pristine ng-untouched ng-valid ng-empty ng-hide" placeholder="Search Product By Name....">
                    </div>
                    <div class="col-sm-3">
                      <a href="javascript:void(0)" ng-click="searchProduct()" ng-hide="isPublicProduct" class="btn btn-success ng-hide"><i style="font-size:20px;" class="fa fa-search"></i>Search</a>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-3 active_txt">Product Id</label>
                    <div class="col-sm-6"><input type="text" name="productId" id="productId" ng-model="selectedDevice.product_id" class="form-control  ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Enter Product Id Here.." required="">
                      <span ng-show="formProduct.productId.$dirty &amp;&amp; formProduct.productId.$error.required" class="help-block ng-hide">Product Id is required</span>
                    </div>
                    <div class="col-sm-3">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 active_txt">Serial Number</label>
                    <div class="col-sm-6"><input type="text" name="serialNumber" id="serialNumber" ng-model="selectedDevice.serial" class="form-control  ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" placeholder="Enter Serial Number Here.." required="">
                      <span ng-show="formProduct.serialNumber.$dirty &amp;&amp; formProduct.serialNumber.$error.required" class="help-block ng-hide">Serial Number is required</span>
                    </div>
                    <div class="col-sm-3">
                      <button type="submit" ng-disabled="formProduct.$invalid" class="btn btn_add btn-new ng-binding add_serial" disabled="disabled">Submit</button>
                    </div>
                  </div>
                  <div ng-hide="isPublicProduct" class="form-group row ng-hide">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11">
                      <div class="text-center">
                        <dir-pagination-controls boundary-links="true" pagination-id="myProductPagination" on-page-change="pageChangeHandler(newPageNumber)" template-url="js/dirPagination.tpl.html" class="ng-isolate-scope"><!-- ngIf: 1 < pages.length --></dir-pagination-controls>
                      </div>
                      <table class="table table-bordered table-hover">
                        <thead class="tblHeader">
                        <tr><th>Product Id</th><th>Product Name</th><th>Secret</th><th></th></tr>
                        </thead>
                        <tbody>
                        <!-- ngRepeat: sp in searchedProduct| orderBy:'created_at':true | filter:q | itemsPerPage: searchPageSize : 'myProductPagination' -->
                        </tbody>
                      </table>
                      <div class="text-center">
                        <dir-pagination-controls boundary-links="true" pagination-id="myProductPagination" on-page-change="pageChangeHandler(newPageNumber)" template-url="js/dirPagination.tpl.html" class="ng-isolate-scope"><!-- ngIf: 1 < pages.length --></dir-pagination-controls>
                      </div>
                    </div>
                  </div>


                </form>
              </div>
            </div>
          </div>





        </div>
        <div class="modal-footer">
        </div>
      </form>
    </div>
  </div>
</div>
